 <ion-side-menus ng-init="view.init()">
      <ion-content class="submitForm padding">
        <label class="item-input item-select">
            <select>
                <option selected>Online Submission</option>
                <option >Offline Submission</option>
            </select>
        </label>
        <div class="formDetails">
          <label class="item item-input">
            <input type="text" placeholder="Title of the film">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email Address">
          </label>
          <label class="item item-input">
            <textarea placeholder="Synopsis & Festival Selections (if any)"></textarea>
          </label>
          <p class="bold">Send the information in text with a DVD of your film to: </p>
          <address>
            302, Hill View 2,
            <br>
            Above DCB Bank,
            <br>
            Opp. Mehboob Studio
            <br>
            Hill Road
            <br>
            Bandra West
            <br>
            Mumbai – 400050
          </address>
        </div>
      </ion-content>
      <ion-footer-bar class="bar bar-footer submitFormFooter">
        <button class="button button-small col text-uppercase primaryText">Submit film</button>
      </ion-footer-bar>
</ion-side-menus>