    
    <ion-side-menus ng-init="view.init()">
      <ion-content class="submitForm padding">        
        <label class="item-input item-select">                        
            <select>
                <option selected>Online Submission</option>
                <option >Offline Submission</option>                  
            </select>
        </label>
        <div class="formDetails">
          <label class="item item-input">
            <input type="text" placeholder="Title of the film">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Film URL">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email Address">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password (if any)">
          </label>
          <label class="item item-input">
            <textarea placeholder="Synopsis & Festival Selections (if any)"></textarea>
          </label>
        </div>
      </ion-content>
      <ion-footer-bar class="bar bar-footer submitFormFooter">
        <button class="button button-small col text-uppercase primaryText">Submit film</button>      
      </ion-footer-bar>   
</ion-side-menus>
