
<ion-tabs class="tabs-top tabs-striped primary whiteText">

      
        <ion-tab title="Popular" ui-sref="popular" class="text-uppercase"  >
         

          <ion-nav-view name="popularContent"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Genre" ui-sref="genre" class="text-uppercase">
          <ion-nav-view name="genreContent"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Playlists" ui-sref="playlist" class="text-uppercase">
          <ion-nav-view name="playlistContent"></ion-nav-view>
        </ion-tab>

</ion-tabs>
