<ion-side-menus ng-init="getnotificationcount()">
    <ion-side-menu-content>
        <ion-header-bar class="bar bar-header primary">
            <button class="button button-icon icon ion-navicon whiteText" ng-click="slideContent()"></button>
            <h5 class="title whiteText text-uppercase">{{pageHeader}}</h5>
            <button class="button button-icon icon ion-search whiteText slide-left pull-right" ng-click="SeacrchClicked()"></button>
            <div class="box" ng-show="showsearchbar"><i class="ion-chevron-left slide-right pull-right leftArrow" ng-click="hideSearch()"></i>
                <input id="autocomplete" placeholder="Search" class="box-inner" type="text" autofocus />
                <i class="ion-search searchIcon" ng-click="searchMovie()"></i></div>
        </ion-header-bar>
        <div ng-switch="display">

            <ion-content ng-if="afterSearch" class="mainContent">
                <div class="popular  {{ classname}} " ion-sticky overflow-scroll='true'>
                    <div id="searchswiperId" class="swiper-container genreswiper" swiper style="height: {{ device_height }}px;">
                        <div class="swiper-wrapper">
                            <div class="cardDetails swiper-slide  " ng-repeat="data in SearchResult" is-loaded>
                                <div class="list card margin0 cardOuter" ng-click="singleplay({{ data.movie_id }})">
                                    <div class="item item-image padding0 noteWorthy">
                                        <div class="imageContainerOuter" style="height: {{ hgt }}px"><img ng-src="{{ data.image }}" />
                                        </div>
                                        <div class="overlay"></div>
                                        <div class="movieDetails padding-horizontal padding-bottom whiteText">
                                            <div class="title padding-vertical">
                                                {{ data.title }} <span>by {{ data.director  }} </span>
                                            </div>
                                            <div class="tagline padding-vertical">
                                                {{ data.tagline }}
                                            </div>
                                            <div class="country padding-vertical">
                                                {{ data.region }}/ {{ data.language}}<span></span>
                                                <span class="pull-right text-uppercase"><i class="ion-android-time"></i> {{ data.duration }} MIN</span>
                                            </div>
                                            <div class="viewsNLikes padding-vertical">
                                                <span><i class="ion-ios-eye"></i>{{ data.no_of_views }}</span>
                                                <span><i class="ion-thumbsup"></i> {{ data.no_of_likes }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>

            <div class="loaderOuter" ng-switch-when="loader">
                <div class="loading-spinner"></div>
            </div>
            <aj-error class="errors" ng-switch-when="error" error-type="errorType" tap-to-retry="onTapToRetry()">
            </aj-error>
            <div ng-switch-when="tabview">
                <ion-nav-view name="homeview"></ion-nav-view>
            </div>
        </div>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <a class="menuLogo">
                    <img class="item-image" src="img/logo.png">
                </a>
                <a class="item" ui-sref="popular" ng-click="slideContent()">
                    <i class="icon-cust icon-home"></i>
                    <b class="text-uppercase">Home</b>
                </a>
                <!-- <a class="item" href="#" ng-click="slideContent()">
                <i class="icon-cust icon-star"></i>
                <b class="text-uppercase">Popular films</b>
              </a> -->
                <a class="item" ui-sref="watchList" ng-click="slideContent()">
                    <i class="icon-cust icon-watchlist"></i>
                    <b class="text-uppercase">My watchlist</b>
                    <span class="badge badge-assertive">{{ watchListCount}}</span>
                </a>
                <a class="item" ui-sref="playlist" ng-click="slideContent()">
                    <i class="icon-cust icon-playlist"></i>
                    <b class="text-uppercase">Playlist</b>
                </a>
                <a class="item" ui-sref="genre" ng-click="slideContent()">
                    <i class="icon-cust icon-genre"></i>
                    <b class="text-uppercase">Genre</b>
                </a>
                <a class="item" ui-sref="notifications" ng-click="slideContent()">
                    <i class="icon-cust icon-bell"></i>
                    <b class="text-uppercase">Notifications</b>
                    <span class="badge badge-assertive">{{unreadNotificationCount}}</span>
                </a>
                <a class="item" href="#" ng-click="displayWeb('http://www.shortfilmwindow.com/faq/')">
                    <i class="icon-cust icon-question"></i>
                    <b class="text-uppercase">Faq</b>
                </a>
                <!-- <a class="item" href="#">
                <i class="icon-cust icon-logout"></i>
                <b class="text-uppercase">Logout</b>
              </a> -->
            </ion-list>
            <p class="padding shortInfo">
                ShortFilmWindow is a snappy, intuitive, striking, mini-theatre that provides you priceless access to all the mind-blowing short films in the world.
            </p>
            <h6 class="padding-horizontal text-uppercase readMore bold margin0"><a href="#" ng-click="displayWeb('http://www.shortfilmwindow.com/about/')">Read more about us <i class="ion-chevron-right pull-right"></i></a></h6>
            <p class="padding">
                <button class="button button-block button-small bold primary whiteText text-uppercase" ng-click="displayWeb('http://www.shortfilmwindow.com/submit-film/')">
                    Submit a film
                </button>
            </p>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<script type="text/javascript">
$(document).ready(function() {
    var boxWidth = $(".box").width();
    $(".box").removeClass("hideSearch");
    $(".box").removeClass("showSearch");
    $(".slide-right").click(function() {
        // $(".box").animate({
        //    // width: 0
        // });
        $(".box").removeClass("showSearch");
        $(".box").addClass("hideSearch");
        setTimeout(function() {
            $('.box').removeClass('hideSearch');
            $('.box').addClass('removeBox');
        }, 1000);

        setTimeout(function(){            
           $('.box i.searchIcon').hide();// or fade, css display however you'd like.
        }, 500);

    });
    $(".slide-left").click(function() {
        // $(".box").animate({
        //     //width: boxWidth
        // });
        $('.box').removeClass('removeBox');
        $(".box").removeClass("hideSearch");
        $(".box").addClass("showSearch");

        

        setTimeout(function(){            
           $('.box.showSearch i.searchIcon').show();// or fade, css display however you'd like.
        }, 700);
    });
});
</script>
