 <ion-content class="mainContent">
 <div ng-switch-when = "searchresult" class="popular  {{ classname}} " ion-sticky  overflow-scroll='true'>
      <div class="cardDetails swiper-slide  "
          ng-repeat ="data in SearchResult" >
          <div class="list card margin0 cardOuter" ng-click="singleplay({{ data.movie_id }})">
              <div class="item item-image padding0 noteWorthy">
                <div class="imageContainerOuter" style="height: {{ hgt }}px"><img ng-src="{{ data.image }}" />
                </div>
                <div class="overlay"></div>
                <div class="movieDetails padding-horizontal padding-bottom whiteText">
                  <div class="title padding-vertical">
                    {{ data.title }} <span>by {{ data.director  }} </span>
                  </div>
                  <div class="tagline padding-vertical">
                    {{ data.tagline }}
                  </div>
                  <div class="country padding-vertical">
                    {{ data.region }}/ {{ data.language}}<span></span>
                    <span class="pull-right text-uppercase"><i class="ion-android-time"></i> {{ data.duration }} MIN</span>
                  </div>
                  <div class="viewsNLikes padding-vertical">
                    <span><i class="ion-ios-eye"></i>{{ data.no_of_views }}</span>
                    <span><i class="ion-thumbsup"></i> {{ data.no_of_likes }}</span>
                  </div>
                </div>
              </div>
                </div>
            </div>
       </div>
        </ion-content>