<ion-side-menus ng-init="getnotificationcount()">
    <ion-side-menu-content>
        <ion-header-bar class="bar bar-header primary">
            <button class="button button-icon icon ion-navicon whiteText" ng-click="slideContent()"></button>
            <h5 class="title whiteText text-uppercase">{{pageHeader}}</h5>
            
            <button class="button button-icon icon ion-search whiteText slide-left pull-right" ng-click="$parent.showsearchbar ='show'"></button>

            <div class="box" ng-show="$parent.showsearchbar == 'show'" ng-class="{'show' : 'showSearch' , 'hide' : 'hideSearch', 'remove' : 'removeBox' } [showsearchbar]">
                <i class="box ion-chevron-left slide-right pull-right leftArrow" ng-click="$parent.showsearchbar ='hide';$parent.searchDisplay = 'tabview';"></i>
                <input id="autocomplete" placeholder="Search" class="box-inner" type="text" ng-model="autocomplete"/>
                <i class="ion-search searchIcon" ng-click="searchMovie()"></i>
            </div>

        </ion-header-bar>
            <div ng-show="$parent.searchDisplay != 'tabview'">
                <ng-include src="'home/search.html'" onload=""></ng-include>
            </div>

            <div ng-show="$parent.searchDisplay == 'tabview'">
                <ion-nav-view name="homeview"></ion-nav-view>
            </div>

    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <ion-list>
                <ut class="menuLogo">
                    <img class="item-image" src="img/logo.png">
                </a>
                <a class="item" ui-sref="popular" ng-click="slideContent()">
                    <i class="icon-cust icon-home"></i>
                    <b class="text-uppercase">Home</b>
                </a>
                <!-- <a class="item" href="#" ng-click="slideContent()">
                <i class="icon-cust icon-star"></i>
                <b class="text-uppercase">Popular films</b>
              </a> -->
                <a class="item" ui-sref="watchList" ng-click="slideContent()">
                    <i class="icon-cust icon-watchlist"></i>
                    <b class="text-uppercase">My watchlist</b>
                    <span class="badge badge-assertive">{{ watchListCount}}</span>
                </a>
                <a class="item" ui-sref="playlist" ng-click="slideContent()">
                    <i class="icon-cust icon-playlist"></i>
                    <b class="text-uppercase">Playlist</b>
                </a>
                <a class="item" ui-sref="genre" ng-click="slideContent()">
                    <i class="icon-cust icon-genre"></i>
                    <b class="text-uppercase">Genre</b>
                </a>
                <a class="item" ui-sref="notifications" ng-click="slideContent()">
                    <i class="icon-cust icon-bell"></i>
                    <b class="text-uppercase">Notifications</b>
                    <span class="badge badge-assertive">{{unreadNotificationCount}}</span>
                </a>
                <a class="item" href="#" ng-click="displayWeb('http://www.shortfilmwindow.com/faq/')">
                    <i class="icon-cust icon-question"></i>
                    <b class="text-uppercase">Faq</b>
                </a>
                <!-- <a class="item" href="#">
                <i class="icon-cust icon-logout"></i>
                <b class="text-uppercase">Logout</b>
              </a> -->
            </ion-list>
            <p class="padding shortInfo">
                ShortFilmWindow is a snappy, intuitive, striking, mini-theatre that provides you priceless access to all the mind-blowing short films in the world.
            </p>
            <h6 class="padding-horizontal text-uppercase readMore bold margin0"><a href="#" ng-click="displayWeb('http://www.shortfilmwindow.com/about/')">Read more about us <i class="ion-chevron-right pull-right"></i></a></h6>
            <p class="padding">
                <button class="button button-block button-small bold primary whiteText text-uppercase" ng-click="displayWeb('http://www.shortfilmwindow.com/submit-film/')">
                    Submit a film
                </button>
            </p>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
