
.footer{
	color: @white;
	padding-bottom: 0;

	.footer-container{
		max-width: 1140px;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	.fa{
		color: @gray-dark;
	}
	a{
		color: @gray-lighter;
	}

	.social-links{
		.link{
			position: static;
			.icon{
				margin: 0 2px;				
			}
			.fa{
				color: @white;
			}
		}
	}
}

.footer-bar{
	background-color: @brand-primary;
	padding-top: 10px;
	padding-bottom: 10px;
}