<ion-view class="singleGenre" ng-init="init()">
    <ion-header-bar class="bar bar-header primary">
        <button class="button button-icon whiteText text-uppercase" ng-click="back()"><i class="ion-ios-arrow-back margin0"></i>Playlists</button>
        <button class="button button-icon whiteText" ng-click="share()"><i class="ion-android-share-alt"></i></button>
    </ion-header-bar>
    <div ng-switch='display'>
        <ion-content class="popular singlePlaylist" overflow-scroll='true' ion-sticky>
                 <div id="" class="item item-thumbnail-left singleGenreAvtar item-divider">
                            <div class="playlist-thumbnail"><img src="{{ playlist.playlist_image_url }}"></div>
                            <div class="">
                                <marquee scrolldelay="200" width="82%" class="cardTitle">{{ playlist.playlist_name }}</marquee>
                                <p class="movieDescription"> {{ playlist.playlist_description }}</p>
                                <div class="bold totalfilmsNTime">{{playlist.playlist_count}} Films <span class="pull-right"><i class="ion-android-time"></i>{{playlist.run_time }} Min</span></div>
                            </div>
                        </div>
            <div id="playlistSwipeId" class="swiper-container swiperplaylist" swiper>
                <div class="swiper-wrapper">

                    <!-- <div ng-switch-when='result'> -->
                       
                        <div ng-repeat="data in playlistData" class="cardDetails swiper-slide" style="height: {{ hgt }}px" is-loaded>
                            <div class="list card margin0 cardOuter ">
                                <div class="item item-image padding0" ng-click="singleplay( data.movie_id )">
                                    <div class="imageContainerOuter"><img src="{{ data.image }}" /></div>
                                    <div class="overlay"></div>
                                    <div class="movieDetails padding-horizontal whiteText">
                                        <div class="title padding-vertical">
                                            {{ data.title }} <span>by {{ data.director}}</span>
                                        </div>
                                        <div class="tagline padding-vertical">
                                            {{ data.tagline}}
                                        </div>
                                        <div class="country padding-vertical">
                                            {{ data.region }}/ {{ data.language}}
                                            <div class="pull-right"><i class="ion-android-time"></i> {{ data.duration }} Min</div>
                                        </div>
                                        <div class="viewsNLikes padding-vertical">
                                            <span><i class="ion-ios-eye"></i> {{ data.no_of_views}}</span>
                                            <span><i class="ion-thumbsup"></i> {{ data.no_of_likes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->

                </div>
            </div>

        </ion-content>
        <div class="loaderOuter" ng-switch-when="loader">
            <div class="loading-spinner"></div>
        </div>
        <aj-error class="errors" ng-switch-when="error" error-type="view.errorType" tap-to-retry="view.onTapToRetry()">
        </aj-error>
    </div>
</ion-view>