<ion-view class="singleGenre singlePlaylist" ng-init="init()">
    <ion-header-bar class="bar bar-header primary">
        <button class="button button-icon whiteText text-uppercase" ng-click="back()"><i class="ion-ios-arrow-back margin0"></i>Playlists</button>
        <button class="button button-icon whiteText" ng-click="share()"><i class="ion-android-share-alt"></i></button>
    </ion-header-bar>
    <div ng-switch='display'>
        <ion-content scroll-watch class="popular singlePlaylist" ion-sticky>
            <div ng-show='display == "result"' class="popularDisplayDiv" id="playlistHeaderSmall">
                <div id="playlistSwipeId" class="swiperplaylist">
                    <div class="cardDetails">
                        <div class="list card margin0 cardOuter ">
                            <div class="item item-thumbnail-left singleGenreAvtar">
                                <div class="playlist-thumbnail">
                                    <img src="{{ playlist.playlist_image_url }}">
                                    <div class="overlay"></div>
                                </div>
                                <div class="singlePlaylistDetails">
                                    <div class="cardTitle">{{ playlist.playlist_name }}</div>
                                    <p class="movieDescription"> {{ playlist.playlist_description }}</p>
                                    <div class="playlistHeaderSmall  item-divider">
                                        {{ playlist.playlist_name }}
                                    </div>
                                    <div class="bold totalfilmsNTime">{{playlist.playlist_count}} Films <span class="pull-right"><i class="ion-android-time"></i>{{playlist.run_time }} Min</span></div>
                                </div>
                            </div>
                            <div ng-repeat="data in playlistData" class="item item-image padding0 playlistHgt" id="playlistContent">
                                <div class="watchlistIcon">
                            <button class="button button-icon" ng-click="addwatchlist(data)">
                            <i class="ion-heart" ng-class="checkIfaddedToWatchList(data.movie_id)"></i>
                            </button>

                                </div>
                                <div class="" ng-click="singlePlayService( data )">
                                    <div class="imageContainerOuter"><img src="{{ data.image }}" /></div>
                                    <div class="overlay"></div>
                                    <div class="movieDetails padding-horizontal whiteText">
                                        <div class="title padding-vertical">
                                            {{ data.title }} <span>by {{ data.director}}</span>
                                        </div>
                                        <div class="tagline padding-vertical">
                                            {{ data.tagline}}
                                        </div>
                                        <div class="country padding-vertical">
                                            {{ data.region }}/ {{ data.language}}
                                            <div class="pull-right"><i class="ion-android-time"></i> {{ data.duration }} Min</div>
                                        </div>
                                        <div class="viewsNLikes padding-vertical">
                                            <span><i class="ion-ios-eye"></i> {{ data.no_of_views}}</span>
                                            <span><i class="ion-thumbsup"></i> {{ data.no_of_likes }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <div class="loaderOuter" ng-switch-when="loader">
            <div class="loading-spinner"></div>
        </div>
        <aj-error class="errors" ng-switch-when="error" error-type="view.errorType" tap-to-retry="view.onTapToRetry()">
        </aj-error>
    </div>
</ion-view>
