.tab-content
{
	.scroll
	{
		padding-top:88px;
		height: 100%;
	}
}
.card 
{
	height: 100%;
	.item.item-image
	{
		padding: 0;
		height: 100%;
		position: relative;
	}
}
.cardTitle
{
	font-family: 'Lato';
    font-size: 2em;
    margin-bottom: 3px;    
}
.postDetails
{
	position: absolute;
	bottom: 10px;
	width: 100%;
	color: @white;
}