    
  <ion-side-menus>
    <ion-side-menu-content class="singleGenre">
      <ion-header-bar class="bar bar-header primary">
        <button class="button button-icon whiteText text-uppercase"><i class="ion-ios-arrow-back margin0"></i>Filters</button>
      </ion-header-bar>
      <ion-content class="">
       <h5 class="text-uppercase padding">Language</h3>
        <ul class="list margin0">       
          <li class="item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             All
          </li>
        </ul>
        <ul class="list margin0">  
          <li class="item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             English
          </li>
        </ul>
        <ul class="list margin0">  
          <li class="item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Hindi
          </li>
        </ul>
        <ul class="list margin0">      
          <li class="item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Japanese
          </li>
        </ul>        
        <hr>
        <h5 class="text-uppercase padding">Country</h3>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">All</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">India</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">UK</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">Japan</label>
        </div>
        <hr>        
        <h5 class="text-uppercase padding">Duration</h3>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">1 Min to 15 Mins</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">15 Mins to 30 Mins</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">30 Mins to 1 Hour</label>
        </div>
        <div class="col filterRadioOuter">
          <input type="radio" value="" />
          <label class="radioIcon"><span></span></label>
          <label class="padding-left">1 Hour and Above</label>
        </div>        
      </ion-content>  
      <ion-footer-bar class="bar bar-footer popupFooter">
        <button class="button button-clear button-small col col-50 pull-left text-uppercase">Reset</button>   
        <button class="button button-clear button-small col col-50 pull-right text-uppercase">Apply</button>
      </ion-footer-bar>
    </ion-side-menu-content>   
  </ion-side-menus>
  
