<div class="popup white sortPopup">
    <div class="popup-head primary">
         <h4 class="whiteText">Sort</h4>
    </div>
    <div class="popup-body">
        <div class="sortInner padding" ng-click ="getId(1)">
          <img src="img/icons/fresh_grey.png"/>
          <span>Freshness</span>
        </div>
        <div class="sortInner padding" ng-click ="getId(2)">
          <img src="img/icons/popularity_grey.png"/>
          <span>Popularity</span>
        </div>
        <div class="sortInner padding" ng-click ="getId(3)">
          <img src="img/icons/length_grey.png"/>
          <span>Length</span>
        </div>
    </div>
    <div class="col popupFooter padding0">
      <button class="button button-small col col-50 pull-left text-uppercase" ng-click ="getId('') ; reset()">Reset</button>
      <button class="button button-small col col-50 pull-right text-uppercase" ng-click ="FiltersortApply()">Apply</button>
    </div>

</div>
