<div class="popup white sortPopup">
    <div class="popup-head primary">        
         <h4 class="whiteText">Sort</h4>
    </div>
    <div class="popup-body">
        <div class="sortInner padding-vertical">
          <img src="img/icons/new_additions.png"/>
          <span>Freshness</span>
        </div>
        <div class="sortInner padding-vertical">
          <img src="img/icons/popular.png"/>
          <span>Popularity</span>
        </div>
        <div class="sortInner padding-vertical">
          <img src="img/icons/new_additions.png"/>
          <span>Length</span>
        </div>
    </div>
    <div class="col popupFooter padding0">
      <button class="button button-small col col-50 pull-left text-uppercase">Reset</button>   
      <button class="button button-small col col-50 pull-right text-uppercase">Apply</button>
    </div>
  
</div>
