    <ion-side-menus>
    <ion-side-menu-content class="singleGenre">
      <ion-header-bar class="bar bar-header primary">
        <button class="button button-icon whiteText text-uppercase"><i class="ion-ios-arrow-back margin0"></i>Back</button>
        <button class="button button-icon whiteText"><i class="ion-android-share-alt"></i></button>
      </ion-header-bar>
        <ion-content class="popular">
          <div class="list card margin0">

            <div class="item item-avatar">
              <img src="img/icons/watchlist.png">
              <div class="primaryText cardTitle">My watchlist</div>
              <p>Awesome movies to be watched later.</p>
            </div>

            <div class="item item-image padding0 newAdditions">
              <img src="img/indian1.jpg"/>
              <div class="overlay"></div>
                <span class="watchListIcon whiteText">
                  <i class="ion-heart"></i>
                </span>
              <div class="movieDetails padding whiteText">
                <div class="title padding-vertical">
                  Tsunami <span>by Akira Kurosawa</span>
                </div>
                <div class="tagline padding-vertical">
                  Tagline of the movie goes here. It may span 2 lines for bigger taglines.
                </div>
                <div class="country padding-vertical">
                  <span>Japan / Japanese</span>
                  <span class="pull-right text-uppercase"><i class="ion-android-time"></i> 20 min</span>
                </div>
                <div class="viewsNLikes padding-vertical">
                  <span><i class="ion-ios-eye"></i> 462</span>
                  <span><i class="ion-thumbsup"></i> 262</span>
                </div>
              </div>
            </div>

            <div class="item item-image padding0 newAdditions">
              <img src="img/indian1.jpg"/>
              <div class="overlay"></div>
                <span class="watchListIcon whiteText">
                  <i class="ion-heart"></i>
                </span>
              <div class="movieDetails padding whiteText">
                <div class="title padding-vertical">
                  Tsunami <span>by Akira Kurosawa</span>
                </div>
                <div class="tagline padding-vertical">
                  Tagline of the movie goes here. It may span 2 lines for bigger taglines.
                </div>
                <div class="country padding-vertical">
                  <span>Japan / Japanese</span>
                  <span class="pull-right text-uppercase"><i class="ion-android-time"></i> 20 min</span>
                </div>
                <div class="viewsNLikes padding-vertical">
                  <span><i class="ion-ios-eye"></i> 462</span>
                  <span><i class="ion-thumbsup"></i> 262</span>
                </div>
              </div>
            </div>

            <div class="item item-image padding0 newAdditions">
              <img src="img/indian1.jpg"/>
              <div class="overlay"></div>
                <span class="watchListIcon whiteText">
                  <i class="ion-heart"></i>
                </span>
              <div class="movieDetails padding whiteText">
                <div class="title padding-vertical">
                  Tsunami <span>by Akira Kurosawa</span>
                </div>
                <div class="tagline padding-vertical">
                  Tagline of the movie goes here. It may span 2 lines for bigger taglines.
                </div>
                <div class="country padding-vertical">
                  <span>Japan / Japanese</span>
                  <span class="pull-right text-uppercase"><i class="ion-android-time"></i> 20 min</span>
                </div>
                <div class="viewsNLikes padding-vertical">
                  <span><i class="ion-ios-eye"></i> 462</span>
                  <span><i class="ion-thumbsup"></i> 262</span>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
    </ion-side-menu-content>
</ion-side-menus>
