
.item
{
	p
	{
		white-space: normal;
	}
}
.tab-content
{
	.scroll
	{
		/*padding-top:88px;*/
		height: 100%;
	}
}
.item-divider
{
	min-height: 73px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: @white;
    border: none;
    padding-left: 65px;

	p
	{
		font-size: 13px;
	}
	
	.cardTitle 
	{
		font-size: 1.3em;
		padding-top: 3px;
	}
}
.item-thumbnail-left.item-divider
{
    padding: 5px 10px 5px 105px;
    height: 118px;
}
.popular
{
	&.has-tabs-top 
	{
	    top: 86px;
	}
	.card 
	{		
		.item.item-image
		{
			padding: 0;
			height: 100%;
			position: relative;
			border: none;
		}
		.item.item-avtar
		{
			border: none;
		}
	}
	.cardTitle
	{
		font-family: 'Lato';
	    font-size: 1.3em;
	    margin-bottom: 3px;    
	}
	.movieDetails .country
	{
		padding: 0;
	}
	.newAdditions, .noteWorthy
	{
		margin-bottom: 10px;
	}
}
.playlist
{
	&.card
	{
		box-shadow: none;
		border-bottom: none;
	}
	.playlistContent
	{
		.imageContainer
		{
			height: 170px;
			width: 50%;
			position: relative;
			float: left;
			img
			{
				width: 100%;
				height: 100%;
			}
		}
		.playlistContentInner
		{
			position: relative;
			height: 100%;
		}
	}
	.playlistDetails
	{
		position: absolute;	    
	    bottom: 0;
	    left: 0;	   
	    width: 100%;
	    padding: 20px 5px 0px 5px;	    
	    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 15%, rgba(0,0,0,0.81) 100%);	    
	    .title
	    {
	    	font-size: 1em;
		    line-height: 1.3;
		    margin-bottom: 5px;
	    }
	    .totalFilms
	    {
	    	font-size: 0.75em;
    		font-weight: 300;
    		i
    		{
    			margin-right: 4px;
    		}
	    }
	}
	.viewPlaylist
	{
		background: #eee;
		height: 100%;
		.text
		{
			padding: 19% 10%; 		
			color: @grayDark;
			font-size: 0.9em;	
		}
		.button
		{
			padding: 0px 10px;
    		font-size: 0.7em;
		}
	}
}
.endOfPlaylist
{
	float: left;
    width: 100%;
    margin: 30px 0;
    color: @grayLightest;
    i
    {    	
	    font-size: 7em;	    
	    display: block;
    }
    h4
    {
    	color: @grayLightest;
    	float: left;
	    margin-top: 20px;
	    width: 100%;
    }
    p
    {
    	float: left;
    	width: 100%;
    }
}
.cardOuter
{
	height: 100%;
	margin-bottom: 0 !important;
	.movieDetails
	{
		bottom: 60px;
	}	
}
.cardDetails
{
	height: 100%;
	display: flex;
	/*.cardOuter
	{
		.movieDetails
		{
			bottom:0;
		}
	}*/
}
.marginB
{
	margin-bottom: 10px !important;
}
.imageContainerOuter
{
	height: 100%;
	text-align: center;
	overflow: hidden;
	background: @black;
	img
	{
		height: 100%;
		width: auto !important;
		position: relative;
		left: 100%;
		margin-left: -200%;
	}
}
.loading-container .loading
{
	background: none;
}
#preloader5{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #03a9f4;
  border-radius: 50%;
  
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1500ms ease-out forwards infinite;
  }
  
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }
  
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape)
{
	.playlist .playlistContent .imageContainer
	{
		width: 33.33%;
	}
	.cardOuter
	{
		height: 100%;
		.movieDetails
		{
			width: 50%;
			left: 50%;
			top: -10px;
			color: @primary;
			.title 
			{
				font-size: 1.1em;
				span
				{
					color: @grayLighter;
				}	
			}
			.tagline, .country, .viewsNLikes
			{
				color: @grayLight;
			}
			.viewsNLikes
			{
				font-size: 0.8em;
			}
			.tagline
			{
			  display: block;
			  display: -webkit-box;
			  max-width: 100%;
			  max-height: 33px;
			  margin: 0 auto;			  
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  line-height: 1.2;
			  font-size: 0.9em;
			}
			.country
			{
				padding-top: 10px;
			}
		}
	}
	.imageContainerOuter
	{
		height: 100%;
		width: 50%;
		img
		{
			height: auto !important;
			width: 100% !important;
		}
	}
	.overlay
	{
		background: rgba(0,0,0,0) !important;
	}
	.singleMovieOuter
	{
		height: auto;
		.movieVideo
		{
			height: auto;
		}
	}
	.popular .card 
	{		
		.item.item-image
		{			
			height: 100%;			
		}
	}
	.cardDetails
	{
		height:auto;
	}
	.singleMovieContent
	{
		.movieDetails, .imageContainerOuter
		{
			width: 100%;
		}
		.overlay
		{
			background: rgba(0,0,0,0.6) !important;
		}
	}
	.singlePlaylist
	{
		margin-top: 118px;
		.cardOuter .movieDetails
		{
			top: 0;			
		}		
	}

}