@media screen and (max-width: 767px) and (min-aspect-ratio: 13/9)
{
	.menu p.shortInfo
	{
		font-size:0.92em;
	}
	.item-divider p
	{
		font-size:0.92em;
	}
	.popular .cardTitle, .item-divider .cardTitle
	{
		font-size: 1.3em;
	}
	.movieDetails
	{
		.title
		{
			font-size: 1.2em;	
			padding-bottom: 5px;
		}
		.tagline
		{
			font-size: 1em;
		}
		.country, .category div
		{
			font-size: 0.83em;
		}
		.viewsNLikes 
		{
			font-size: 0.9em;
		}
	}	
	.playlist 
	{
		.playlistContent .imageContainer
		{
			width: 33.33%;
		}
		.playlistDetails .totalFilms
		{
			font-size: 1em;
		}
		.playlistDetails .totalFilms .filmNo
		{
			font-size: 1.5em;
		}
	&.genreOuter
	{
		.playlistDetails .title
		{
			font-size: 1.1em;			
		}
		.playlistDetails .totalFilms
		{
			font-size: 0.9em;			
		}
	}	
	}
	.singleGenre
	{
		.totalfilmsNTime
		{
			font-size:0.75em;
		}
	}
	.imageContainerOuter
	{
		height: 100%;
		width: 50%;
		img
		{
			height: auto !important;
			width: 100% !important;
		}
	}
	.cardOuter
	{
		height: 100%;
		width: 100%;
		.movieDetails
		{
			width: 50%;
			left: 50%;
			top: -6px;
			color: @primary;
			background: none;
			text-shadow:none;
			.title 
			{
				font-size: 1.1em;				
				padding-bottom: 5px;
				span
				{
					color: @grayLighter;
				}	
			}
			.country, .viewsNLikes
			{
				color: @grayLight;	
				font-size: 0.8em;			
			}
			.category div
			{
				font-size: 0.8em;
			}
			
			.tagline
			{
			  display: block;
			  display: -webkit-box;
			  max-width: 100%;
			  max-height: 39px;
			  margin: 0 auto;			  
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  line-height: 1.2;
			  font-size: 0.92em;
			  color: @grayLight;
			}
			.country
			{
				padding-top: 10px;
			}
		}
		.imageContainerOuter
		{			
			img
			{
				height: 100% !important;
				width:auto !important;
			}
		}
	}
	.sortPopup .popup-body .sortInner 
	{
		font-size: 1em;
	}	
	.overlay
	{
		background: rgba(0,0,0,0) !important;
	}
	.singleMovieOuter
	{
		height: auto;
		.movieVideo
		{
			height: auto;
		}
	}
	.popular .card 
	{		
		.item.item-image
		{			
			height: 100%;			
		}
	}
	.cardDetails
	{
		height:auto;
	}
	.singleMovieContent
	{
		.movieDetails, .imageContainerOuter
		{
			width: 100%;
		}
		.overlay
		{
			background: rgba(0,0,0,0.6) !important;
		}
	}
	.singlePlaylist
	{
		/*margin-top: 118px;*/
		.cardOuter .movieDetails
		{
			top: 0;			
		}		
	}
	.singleGenreAvtar , .singleGenre .item-divider.watchlistHeader 
	{
		border-bottom: 1px solid @grayLightest;
	}
	.singleGenreAvtar.item-divider.assertive, .singleGenre .item-divider.watchlistHeader.assertive
	{
		border-bottom: none;
	}
	.synopsis
	{
		font-size: 0.9em;
	}
	.singleGenre .emptyWatchlistInner
	{
		position: relative;
	    height: auto;
	    width: 100%;
	    left: 0;
	    top: 0;
	    margin-left: 0;
	    margin-top: 0;
	}
	.singleGenre .emptyWatchlistInner p
	{
		font-size: 1.1em;
	}
	.synopsis .synopsisText
	{
		font-size: 1.1em !important;
	}

	.limitDiv
	{
		width: 33%;
		&:nth-child(3), &:nth-child(4), &:nth-child(5)
		{
			display:none;
		}
		.imageContainer
		{
			width: 100% !important;
		}
	}
	.singleGenre .singleGenreAvtar.item-thumbnail-left .cardTitle
	{
		font-size: 1.2em;
	}
	.playlistHeaderSmall
	{
		font-size: 1.2em;
	}
	.singleGenre .singleGenreAvtar.item-thumbnail-left .movieDescription
	{
		font-size: 1em;
	}
	.notifications h5 span
	{
		font-size: 1.15em;
	}	
	.notifications p
	{
		font-size: 0.9em;
	}
	.searchResult .cardDetails 
	{
		margin-top: 1px;
	}
	.searchResult .cardOuter .movieDetails
	{
		top: 37px;
	}
	.singleGenre .watchlistIcon
	{
		left: 42%;
	}	
}
@media screen and (min-height: 470px) and (max-height:680px)
{
	.limitDiv
	{		
		&:nth-child(4), &:nth-child(5)
		{
			display:none;
		}
	}
}

