<ion-content class="text-center padding welcome">

  <video id="land_vid_html5_api" class="vjs-tech" poster="img/LandingHeader.jpg" data-setup="{ &quot;controls&quot;: false, &quot;autoplay&quot;: true, &quot;preload&quot;: &quot;auto&quot;, &quot;loop&quot;: true, &quot;width&quot;: &quot;auto&quot;, &quot;height&quot;: &quot;auto&quot; }" loop="" preload="auto" autoplay=""><source src="video/LandingVideo.mp4" type="video/mp4"></p></video>

<!--   <p>
  Explore the awesome world of great <span class="primaryText">Shortfilms</span>
  </p>

 <div class="videoIcon">
  <img src="img/icons/login.png"/>
</div>

<button class="text-uppercase button button-small padding0 whiteText"><span class="fbIcon"><i class="ion-social-facebook"></i></span>

<span class="fbText">Connect with facebook</span></button>
 -->
</ion-content>
