<ion-view>
    <ion-content lazy-scroll class="genre" id="popular" ng-init="init()" overflow-scroll='true'>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-repeat="data in genre">
            <div class="playlist genreOuter">
                <div class="playlistContent generContent">
                    <div class="col imageContainer" ng-click="singleGenre( data.genre_id)">
                          <div class="playlistContentInner">
                            <img image-lazy-src="{{ data.genre_image_url }}" />
                            <div class="overlay"></div>
                            <div class="playlistDetails">
                                <div class="title">
                                    {{ data.genre_name }}
                                </div>
                                <div class="totalFilms pull-left">
                                    <div class="pull-left">{{ data.genre_count }} Films</div>
                                    <div class="pull-right timeOuterDiv"><span class="time"><i class="ion-android-time"></i>{{ data.run_time }} Min</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
