<ion-view>
    <ion-content class="popular" ng-init="initApp()" ng-switch="display">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
         <div class="item item-avatar item-divider popularStickyHeader">
                <img src="img/icons/{{currentCard.iconimg}}.png">
                <div class="primaryText cardTitle">{{currentCard.cardtitle}}</div>
                <p>{{currentCard.p}}</p>
            </div>
        <div ng-if="refreshSwiper" ng-switch-when="result" curr-swiper="" detect-swiper-slide="detectSlideChange(currSwiper)" swiper id="popularswipeId" class="swiper-container popularswiper"  style="height: {{ hgt }}px">
        
            <div class="swiper-wrapper">
                <div ng-repeat="data in allContentArray | orderBy: data.order " is-loaded class="list card margin0 cardOuter swiper-slide">
                    <div ng-if="data.order !=4">
                        <div class="item item-image padding0" style="height: {{ hgt }}px">
                        
                            <div class="watchlistIcon">
                            <button class="button button-icon" ng-click="addwatchlist(data)">
                            <i class="ion-heart" ng-class="{1 : 'selected' , 0 : 'notselected' } [data.addedToWatchList]"></i>
                            </button>
                            </div>

                            <div ng-click="singlePlayService( data.content )" class="fullHeight">
                                <div class="imageContainerOuter">
                                    <img src="{{ data.content.image }}" />
                                </div>
                                <div class="overlay"></div>
                                <div class="movieDetails padding-horizontal padding-bottom whiteText">
                                    <div class="title padding-vertical">
                                        {{ data.content.title }} <span>by {{ data.content.director}}</span>
                                    </div>
                                    <div class="tagline padding-vertical">
                                        {{ data.content.tagline}}
                                    </div>
                                    <div class="country padding-vertical">
                                        {{ data.content.region }}/ {{ data.content.language}}<span></span>
                                        <span class="pull-right"><i class="ion-android-time"></i> {{ data.content.duration }} Min</span>
                                    </div>
                                    <div class="viewsNLikes padding-vertical">
                                        <span><i class="ion-ios-eye"></i> {{ data.content.no_of_views}}</span>
                                        <span><i class="ion-thumbsup"></i> {{ data.content.no_of_likes }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="data.order == 4">
                        <ng-include class="playlist" src="'views/tabs/popular/playlist-playlist-content.html'" scope="" onload=""></ng-include>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="loaderOuter" ng-switch-when="loader">
            <div class="loading-spinner"></div>
        </div>
        <aj-error class="errors" ng-switch-when="nonetwork" error-type="errorType" tap-to-retry="doRefresh()">
        </aj-error>
    </ion-content>
</ion-view>
