.article_row {
//    &:after {clear: none;}
//    .col-md-5 {overflow: hidden;}
    .article_title {
        text-transform: uppercase;
        display: block;
        line-height: 1.2;
        color: @brand-primary;
        &:hover {
            text-decoration: none;
            color: #787878;
        }
    }
    .article_meta {
        margin-top: 5px;
        color: #bbb;
        span {
            margin-right: 15px;
            white-space: nowrap;
            i {margin-right: 5px;}
        }
    }
    .article_cont {
        margin-top: 10px;
    }
    .article_fi {
        max-height: 208px;
        overflow: hidden;
        display: block;
        position: relative;
        @media screen and (max-width: 991px) {
            margin-bottom: 10px;
            height: auto !important;
            max-height: 300px;
        }
//        @media screen and (max-width: 680px) {
//            height: 300px !important;
//        }
        img {
            @media screen and (max-width: 991px) {
//                position: absolute;
//                left: 0;
//                top: 0;
                width: 100%;
//                max-width: none;
//                height: 150%;
            }
        }
    }

    .col-xs-8, .col-xs-4,
    .col-xs-9, .col-xs-3 {
        .soc-ico {bottom: 0;}
        @media screen and (max-width: 560px) {
            display: block;
            float: none;
            width: 100%;
            text-align: center;
            .ssba div {text-align: center !important;}
        }
    }
    @media screen and (max-width: 560px) {
        h4 {text-align: center;}
    }
    @media screen and (max-width: 480px) {
        .article_meta span {
            white-space: normal;
            display: block;
            margin-right: 0;
            &.art_likes, &.art_views {
                display: inline-block;
            }
            &.art_likes {margin-right: 15px;}
        }
    }
}
.article_single {
    .article_s_img {
        max-height: 600px;
        overflow: hidden;
    }
    .article_title {
        width: 75%;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .goup {
        margin-top: -35px;
        color: #ccc;
        @media screen and (max-width: 767px) {
            margin-top: 0;
            float: none !important;
        }
        i {
            margin-right: 10px;
        }
    }
}
.article_s_cont {
    padding-top: 15px;
    .article_s_links {
        font-size: 20px;
        margin-bottom: 15px;
        span {margin-right: 20px;}
        a.post-like {
            color: @brand-primary;
            &:hover {
                color: saturate(lighten(@brand-primary, 25%), 20%);
                i {color: saturate(lighten(@brand-primary, 25%), 20%);}
            }
            &:active, &:focus {text-decoration: none;}
            i {
                margin-right: 10px;
                color: @brand-primary;
                transition: all 0.5s;
            }
        }
        a.liked {
            color: #ccc;
            i {color: #ccc;}
            &:hover {
                color: #aaa;
                i {color: #aaa;}
            }
        }
        i {margin-right: 10px;}
    }
    .alignright {float: right;}
    .alignleft {float: left;}
}
.pop_posts, .recent-movies {
    h6 {text-transform: uppercase;}
    .pop_auth {
        margin-bottom: 5px;
    }
    @media screen and (max-width: 767px) {
        h6 {font-size: 18px; line-height: 1.2}
        .grid-box.grid-full {
            height: 200px;
        }
    }
}

.sim_mov, .trending, .awardwinning, .indian {
    .grid-box {
        height: 250px;
    }
    .grid-box.content-align-bottom .grid-text-wrap .grid-meta {
        font-weight: normal;
        i {
            font-size: 17px;
            margin-bottom: 8px;
            margin-left: 12px;
        }
    }
    .grid-box.content-align-bottom a {
        font-weight: normal !important;
        &.more-link {display: none !important;}
    }
}