.article_row {
//    &:after {clear: none;}
//    .col-md-5 {overflow: hidden;}
    .article_title {
        text-transform: uppercase;
        display: block;
        color: @brand-primary;
        &:hover {
            text-decoration: none;
            color: #787878;
        }
    }
    .article_meta {
        margin-top: 5px;
        color: #bbb;
        span {
            margin-right: 15px;
            i {margin-right: 5px;}
        }
    }
    .article_cont {
        margin-top: 10px;
    }
    .article_fi {
//        max-height: 220px;
        overflow: hidden;
        display: block;
    }
}
.article_single {
    .article_s_img {
        max-height: 600px;
        overflow: hidden;
    }
    .article_title {
        width: 75%;
    }
    .goup {
        margin-top: -35px;
        color: #ccc;
        i {
            margin-right: 10px;
        }
    }
}
.article_s_cont {
    padding-top: 15px;
    .article_s_links {
        font-size: 20px;
        margin-bottom: 15px;
        span {margin-right: 20px;}
        i {margin-right: 10px; color: #787878;}
    }
    .alignright {float: right;}
    .alignleft {float: left;}
}