.show-featured-image {
    background: #444;
}
.show-featured-image img {
    display: none;
}
.no-js .show-featured-image {
    background: none;
}
.no-js .show-featured-image img {
    display: block;
}

//General default page styling
h2.page-title {text-transform: uppercase;}
a:hover, a:focus {text-decoration: none;}

@media screen and (max-width: 991px) {
    h3, .h3 {
        font-size: 28px;
    }
}

.opts {
    text-align: right;
    .option {
        display: inline-block;
        margin-left: 15px;
    }
}

.posrel {position: relative;}
.posata {position: static;}

a.content-bottom, .article_row h4 a.article_title,
a.exp_all, a.def_link {
    &, h6, h3 {
        color: @brand-primary;
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            text-decoration: none;
        }
        &:focus {text-decoration: none;}
    }
}
a.def_link {color: #cccccc;}

.grid-meta {
    .p-l-10.pull-left {
        text-align: right;
//        margin-top: 0;
        div {
            margin-bottom: 5px;
        }
        i {
            margin-left: 5px;
        }
    }
    a.content-bottom {
        color: #fff;
        &:hover {color: #fff;}
    }
}

.trending, .awardwinning, .indian {
    h3 {
        color: @brand-primary;
    }
}

hr.vern {
    border: 0;
    border-top: 1px solid #ccc;
}
.cou_exc {font-size: 16px;}

.movie-info h5.director {
    a {
        font-style: italic;
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            text-decoration: none;
        }
        &:active, &:focus {
            text-decoration: none;
        }
    }
}

hr.border-btm {
    border:0;
    border-bottom: 1px solid #ccc;
}


//load more
.load_more {
    padding: 10px 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.bgwidth { width: 100%; height: auto !important; .centerV() }
.bgheight { height: 100%; width: auto !important; .centerH() }

p.noneLeft {
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 400px;
    margin: 25px auto;
    background: #F9F9F9;
    padding: 15px;
    color: #C8C8C8;
    text-shadow: 1px 1px 0 #fff;
    cursor: default;
}

.stopclass {
    position: absolute;
    display: block;
    top: 35px;
    right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: red;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    z-index: 6;

    opacity: 0.5;
    display: none;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
}
.ontop .stopclass {
    display: block;
}
.home .ontop .stopclass {
    top: -10px;
    right: 3px;
}

.search_ed {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #787878;
    span {
        a {
            font-weight: normal;
            text-transform: none;
            font-style: italic;
            background-color: #F5F5F5;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 6px;
            position: relative;
            color: @brand-primary;
            &:hover {
                background-color: #eee;
                i {
                    color: @brand-primary;
                }
            }
        }
        i {
            color: #ccc;
            margin-left: 12px;
            margin-right: 5px;
            font-size: 18px;
            /* line-height: 25px; */
            position: relative;
            top: -1px;
        }
    }
}
