//General default page styling
h2.page-title {text-transform: uppercase;}
a:hover, a:focus {text-decoration: none;}

@media screen and (max-width: 991px) {
    h3, .h3 {
        font-size: 28px;
    }
}

.opts {
    text-align: right;
    .option {
        display: inline-block;
        margin-left: 15px;
    }
}

.posrel {position: relative;}
.posata {position: static;}

a.content-bottom, .article_row h4 a.article_title,
a.exp_all, a.def_link {
    &, h6, h3 {
        color: @brand-primary;
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            text-decoration: none;
        }
        &:focus {text-decoration: none;}
    }
}
a.def_link {color: #cccccc;}

.grid-meta {
    .p-l-10.pull-left {
        text-align: right;
//        margin-top: 0;
        div {
            margin-bottom: 5px;
        }
        i {
            margin-left: 5px;
        }
    }
    a.content-bottom {
        color: #fff;
        &:hover {color: #fff;}
    }
}

.trending, .awardwinning, .indian {
    h3 {
        color: @brand-primary;
    }
}

hr.vern {
    border: 0;
    border-top: 1px solid #ccc;
}
.cou_exc {font-size: 16px;}

.movie-info h5.director {
    a {
        font-style: italic;
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            text-decoration: none;
        }
        &:active, &:focus {
            text-decoration: none;
        }
    }
}

hr.border-btm {
    border:0;
    border-bottom: 1px solid #ccc;
}


//load more
.load_more {
    padding: 10px 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.bgwidth { width: 100%; height: auto !important; .centerV() }
.bgheight { height: 100%; width: auto !important; .centerH() }