#land_vid {
    width: 100%;
    height: auto;
}

.movie-cat{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			border-left: 2px solid @gray-light;
			padding-left: 20px;
			&:hover{
				border-color: @brand-primary;
				a{
					color: @brand-primary;
				}
			}
			a{
				text-decoration: none;
				display: block;
				color: @gray;
				font-style: italic;
                text-transform: uppercase;
			}
			&.active{
				border-color: @brand-primary;
				a{
					color: @brand-primary;
				}
                &:hover {
                    a {
                        color: saturate(lighten(@brand-primary, 25%), 20%);
                    }
                }
			}
		}
	}
}

/* In Focus */
.focus-img{
	height: 150px;
	width: 100%;
	max-width: 280px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
	img{
		width: 100%;
	}
}
.slider_gen {
    .focus-img {
        position: relative;
        .gen_hov {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            text-align: right;
            color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s;
            i {
                display: block;
                font-style: normal;
            }
            .cat_name {
                font-size: 22.4px;
                text-decoration: underline;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .cat_count {
                position: absolute;
                bottom: -35px;
                right: 10px;
                transition: all 0.5s;
            }
        }
        &:hover {
            .gen_hov {
                visibility: visible;
                opacity: 1;
            }
            .cat_count {
                bottom: 5px;
            }
        }
    }
}

@media (max-width:767px){
	.focus-img{
		height: auto;
		max-width: none;
	}
}

// .slick-slide {
//     .focus-img {
//         height: 258px;
//     }
// }

/* Search placeholder */
//input.search{
//	&::-webkit-input-placeholder::before{
//		font-family: fontAwesome;
//		content:'\f002  ';
//	}
//	&::-moz-placeholder::before {
//		font-family: fontAwesome;
//		content:'\f002  ';
//	}
//	&:-ms-input-placeholder::before {
//		font-family: fontAwesome;
//		content:'\f002  ';
//	}
//}

//genre dropdown
.genre-dd {
    margin-top: 20px;
    @media screen and (max-width: 768px) {
        margin-top: 14px;
    }
    @media screen and (max-width: 768px) {}
}
.genre-dd .btn {
    background: transparent;
    border: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: @gray-darker;
    padding: 0 25px;
}
//search icon
.search_menu {
    position: relative;
    i {
        font-size: 21px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        color: @gray-dark;
        cursor: pointer;
        &:hover {
            color: @brand-primary;
        }
    }
}
//awesome playlists
.slick-slider .slide-cont {
    position: relative;
    height: 177px;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        width: auto;
        max-width: none;
//        height: 177px;
    }
    &:hover .cap-s {
        opacity: 1;
        visibility: visible;
    }
    .cap-s {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.83);
        color: #ddd;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        transition: all 0.5s;
        h5, p {text-align: right;}
        h5 a {
            color: #eee;
            margin: 0;
            text-decoration: underline;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        p {
            color: #A9A9A9;
            font-size: 16px;
            line-height: 22px;
            font-style: italic;
        }
        .sli-foot {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 14px;
            display: table;
            div {
                display: table-cell;
            }
        }
        .sli-foot .numbers p {
            font-style: normal;
            margin: 0;
            font-size: 13px;
            color: #eee;
            text-align: left;
            i {margin-left: 5px;}
        }
        .sli-foot .sm-numbers {
            vertical-align: bottom;
            text-align: right;
        }
    }
}

@media screen and (max-width: 445px) {
    .ge .col-xs-6 {width: 100%; float: none;}
    .ge .pull-right {float: none !important;}
    .ge .genre-dd {
        display: block;
        .btn {display: block; width: 100%;}
        .dropdown-menu {width: 100%;}
    }
}

h1.brand, h2.brand, h3.brand, h4.brand, h5.brand, h6.brand {color: @brand-primary;}

.staffpick-display-section, .listlayout, .couchlayout {
    //video fi and iframe
    .sp_inside_vid {
        height: auto;
        .show-featured-image {
            max-height: 475px;
            @media screen and (max-width: 991px) {
                max-height: 385px;
            }
        }
    }
    .video-js {
        width: 100%;
        height: auto;
    }
    .role-settings .text-right {
        div {font-size: 16px;}
        i {
            margin-left: 7px;
            float: right;
            margin-top: 5px;
        }
        .post_likes a {
            color: @brand-primary;
            i {
                color: @brand-primary;
            }
            &:hover {
                color: saturate(lighten(@brand-primary, 25%), 20%);
                i {
                    color: saturate(lighten(@brand-primary, 25%), 20%);
                }
            }
        }
    }
    .staff_tag {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .categories  {margin-top: 5px;}
    a.content-bottom {
        h3 {line-height: 1.2;}
    }
    @media screen and (max-width: 580px) {
        .col-xs-4, .col-xs-8 {
            float: none;
            width: 100%;
        }
        .meta-ico, .lico_c {
            margin-top: 10px;
            text-align: left !important;
            .meta-ico-in, .lico {
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
                border-right: 1px solid #ccc;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}
.listlayout {
    @media screen and (max-width: 580px) {
        .list-info-btns .ssba div {
            text-align: left !important;
            a {
                margin-left: 0;
                margin-right: 10px;
            }
        }
        .lico_c {
            .lico {font-size: 14px;}
            .lico i {font-size: 16px;}
        }
    }
}
//.share-button2 {
//      margin-top: 30px;
//}

.posrel {
    .col-md-2 { position: static; min-height: 45px;}
    .share-button2 {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: block;
    }
    @media screen and (max-width: 991px) {
        .share-button2 {
            position: relative;
            bottom: 0;
        }
    }
}


.infocus_home {
    height: 200px;
    padding-bottom: 20px;
    hr {
        margin-bottom: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    @media screen and (max-width: 991px) {
        height: 265px;
    }
    @media screen and (max-width: 767px) {
        height: 245px;
    }
    @media screen and (max-width: 580px) {
        height: 275px;
    }
    @media screen and (max-width: 480px) {
        height: auto;
    }
}