.movie-cat{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			border-left: 2px solid @gray-light;
			padding-left: 20px;
			&:hover{
				border-color: @brand-primary;
				a{
					color: @brand-primary;
				}
			}
			a{
				text-decoration: none;
				display: block;
				color: @gray;
				font-style: italic;
                text-transform: uppercase;
			}
			&.active{
				border-color: @brand-primary;
				a{
					color: @gray-darker;
				}
			}
		}
	}
}

/* In Focus */
.focus-img{
	height: 150px;
	width: 100%;
	max-width: 280px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 10px;
	img{
		width: 100%;
	}
}

@media (max-width:767px){
	.focus-img{
		height: auto;
		max-width: none;
	}
}

/* Search placeholder */
input.search{
	&::-webkit-input-placeholder::before{
		font-family: fontAwesome; 
		content:'\f002  ';
	}
	&::-moz-placeholder::before {
		font-family: fontAwesome; 
		content:'\f002  ';
	}
	&:-ms-input-placeholder::before {
		font-family: fontAwesome; 
		content:'\f002  ';
	}
}

//genre dropdown
.genre-dd {
    margin-top: 20px;
    @media screen and (max-width: 768px) {
        margin-top: 14px;
    }
    @media screen and (max-width: 768px) {}
}
.genre-dd .btn { 
    background: transparent;
    border: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: @gray-darker;
    padding: 0 25px;
}
//search icon
.search_menu {
    position: relative;
    i {
        font-size: 21px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        color: @gray-dark;
    }
}
//awesome playlists
.slick-slider .slide-cont {
    position: relative;
    height: 177px;
    overflow: hidden;
    img {
        width: auto;
        height: 177px;
    }
    &:hover .cap-s {
        opacity: 1;
        visibility: visible;
    }
    .cap-s {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.83);
        color: #ddd;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
        transition: all 0.5s;
        h5, p {text-align: right;}
        h5 a {
            color: #eee;
            margin: 0;
            text-decoration: underline;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        p {
            color: #A9A9A9;
            font-size: 16px;
            line-height: 22px;
            font-style: italic;
        }
        .sli-foot {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 14px;
            display: table;
            div {
                display: table-cell;
            }
        }
        .sli-foot .numbers p {
            font-style: normal;
            margin: 0;
            font-size: 13px;
            color: #eee;
            text-align: left;
            i {margin-left: 5px;}
        }
        .sli-foot .sm-numbers {
            vertical-align: bottom;
            text-align: right;
        }
    }
}

@media screen and (max-width: 445px) {
    .ge .col-xs-6 {width: 100%; float: none;}
    .ge .pull-right {float: none !important;}
    .ge .genre-dd {
        display: block;
        .btn {display: block; width: 100%;}
        .dropdown-menu {width: 100%;}
    }
}

h1.brand, h2.brand, h3.brand, h4.brand, h5.brand, h6.brand {color: @brand-primary;}