.comments-section {
    margin-top: 12px;
    list-style-type: none;
}
.info-wrapper {
    display: inline-block;
    float: left;
    width: 80%;
    &.small-width {
        width: 70%;
    }
}
.info {
    display: block;
}
.user-profile-pic-wrapper {
    display: inline-block;
    float: left;
    margin-right: 16px;
    .user-profile-pic-normal {
        border-radius: 100px 100px 100px 100px;
        height: 80px;
        overflow: hidden;
        width: 80px;
    }
}