@headimgwi: 675px;
@headhe: 576px;
@reduction: 138px;

@media screen and (max-width: 1199px) {
    .headspace {
        padding-top: 130px;
    }
    .header {
        background-color: rgba(0, 0, 0, 0.85);
    }
}
@media screen and (max-width: 767px) {
    .headspace {
        padding-top: 97px;
    }
}
@media screen and (max-width: 480px) {
    .headspace {
        padding-top: 0;
    }
}

.home {
    .play_movie_big {
        left: 0;
        top: 0;
        transform: none;
        width: 100%;
        height: 100%;
    }
}

.play_movie_big {
    content: '';
    display: block;
    font-size: 40px;
    color: #fff;
    background: rgba(0,0,0,0.2);
    width: 175px; //137px
    height: 125px; //89px
    opacity: 0.5;
//    line-height: 71px;
//    padding-left: 7px;
//    text-align: center;
//    border: 2px solid #fff;
//    border-radius: 50%;
    position: absolute;
    left: 50%;
    right: 0;
    top: 36%; //was 43%
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-backface-visibility: hidden;
    z-index: 1;
    &:hover {color: #fff;}
    background: url(../img/play.png) center center no-repeat;
    .transition(all; 0.5s);
    &:hover {
        background: url(../img/play_red.png) center center no-repeat;
        opacity: 1;
    }
    @media screen and (max-width: 1199px) {
        top: 18%;
    }
    @media screen and (max-width: 991px) {
        top: 14%;
    }
    @media screen and (max-width: 767px) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    // @media screen and (max-width: 480px) {
    //     top: 25%;
    // }
}
// .staffpick-display-section .play_movie_big {
//     @media screen and (max-width: 1199px) {
//         top: 38%;
//     }
//     @media screen and (max-width: 991px) {
//         top: 38%;
//     }
//     @media screen and (max-width: 767px) {
//         top: 38%;
//     }
//     @media screen and (max-width: 480px) {
//         top: 38%;
//     }
// }
@media screen and (max-width: 991px) {
    .hideinsmall {display: none;}
}
.infocus {
    h4 {
        color: @brand-primary;
    }
    h5 {line-height: 1.4em;}
    a {
        text-decoration: none;
        &:hover, &:focus {text-decoration: none;}
    }
    a.post-like {
        color: @brand-primary;
        i.fa {color: @brand-primary;}
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            i {color: saturate(lighten(@brand-primary, 25%), 20%);}
        }
        &:active, &:focus {text-decoration: none;}
        i {
            margin-right: 10px;
            color: @brand-primary;
            .transition(all; 0.5s);
        }
    }
    a.post-like.liked {
        color: #ccc;
        i.fa {color: #ccc;}
        &:hover {
            color: #aaa;
            i {color: #aaa;}
        }
    }
    @media screen and (max-width: 570px) {
        .pull-right.leftinsmall {
            float: none !important;
        }
        .pull-right span .post-like i {
            margin-left: 0;
        }
    }
    @media screen and (max-width: 992px) {
        h5 {margin-top: 15px;}
        .m-t-35 {
            margin-top: 0;
            .soc-ico > div {text-align: left !important;}
        }
    }
}

.movie-header{
    position: relative;
    .overlay{
        .ease;
    }
    /*.img-fi-he {
//        width: @headimgwi;
//        height: @headhe - 126px;
        //play buton
        .play_movie_big {
            display: block;
            font-size: 40px;
            color: #fff;
            background: rgba(0,0,0,0.2);
            width: 75px;
            height: 75px;
            line-height: 71px;
            padding-left: 7px;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            right: 0;
            top: 44%;
            transform: translateX(-50%);
        }
        //image fade to black
        &:before, &:after {
            content: '';
            width: 150px;
            height: @headhe - @reduction;
            position: absolute;
            bottom: 0;
        }
        &:before {
            left: 0;
            .grad(left, right, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        &:after {
            right: 0;
            .grad(right, left, rgba(0,0,0,1), rgba(0,0,0,0));
        }
        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;
            &:before, &:after {display: none}
        }
        @media screen and (max-width: 767px) {
            height: auto;
            position: relative;
            padding-top: 179px;
        }
        @media screen and (max-width: 480px) {
            padding-top: 0;
        }
        padding-top: @reduction;
        position: relative;
        display: inline-block;
        img {
            width: auto;
            height: @headhe - @reduction;
            @media screen and (max-width: 992px) {
                width: 100%;
//                height: @headhe - 100px;
                height: auto;
            }
        }
    }*/
}
.without-vid {
    height: @headhe;
    background: @bgdarkest;
     @media screen and (max-width: 992px) {
         height: auto;
     }
    @media screen and (max-width: 768px) {
        background: transparent;
    }
}


.movie-info{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: @gray-darker;
    z-index: 2;
    .ease;
    h3, h5, h6{
        color: @gray-light;
        font-weight: 500;
        text-transform: uppercase;
        &.director {text-transform: none}
        small{
            text-transform: none;
            color: @gray-light;
        }
    }
    h3 {line-height: 1.3;}
    h6 small {font-size: 16px; line-height: 22px;}
    @media screen and (min-width: 767px) and (max-width: 991px) {
        .in_1, .in_2, .in_3 {
            display: inline-block;
            border-right: 1px solid rgba(255, 255, 255, 0.16);
            padding-left: 15px;
            padding-right: 15px;
        }
        .in_1 {
            padding-left: 0;
        }
        .in_3 {
            border-right: 0;
        }
    }
    @media screen and (max-width: 992px) {
        h6 small {margin-top: 5px; display: block;}
    }
    & + .overlay{
        position: absolute;
        height: 225px; //was 30%
        width: 100%;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
        z-index: 1;
    }

    .views{
        color: @gray-light;
    }
    &.playing{
        opacity: 0;
        left: -2000px;
    }
    .info-ico {
        margin-top: 10px;
        padding-right: 5px;
        i {
            font-size: 18px;
            margin-left: 10px;
            float: right;
            color: #ccc;
        }
        .like-action {display: block; float: none;}

        a.post-like.liked {
            color: #797979;
            i {color: #797979; .transition(all; 0.5s);}
            &:hover {
                color: #aaa;
                text-decoration: none;
                i {color: #aaa;}
            }
        }
        a.post-like:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            text-decoration: none;
            i {color: saturate(lighten(@brand-primary, 25%), 20%);}
        }
        a.post-like:focus, a.post-like:active {text-decoration: none;}
        //a:hover i {color: saturate(lighten(@brand-primary, 25%), 20%);}
        .watchlist-add {margin-top: 4px;}
    }
    .social-strip {  bottom: 7px; position: relative;}
    //.sco-ico not required for the time being

    .post-like {
        display: block;
        float: none;
        width: 100%;
    }
    .watchlist-add a {
        color: #ccc;
        &:hover {
            color: saturate(lighten(@brand-primary, 25%), 20%);
            i {color: saturate(lighten(@brand-primary, 25%), 20%);}
        }
    }
}
#icon-gear {
    float: none;
}
.soc-ico {
        text-align: right;
        bottom: 5px;
        position: relative;
        a {
            display: inline-block;
            opacity: 0.5;
            margin-left: 10px;
            .transition(all; 0.5s);
//            &:hover {
//                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//            filter: none; /* IE6-9 */
//            -webkit-filter: grayscale(0);
//            }
        }
        a {
            position: relative;
            color: #fff;
            opacity: 1;
            img {display: none !important;}
            &:after {
                font-family: 'FontAwesome';
                font-size: 20px;
            }
            &.ssba_facebook_share:after {
                content: '\f09a';
            }
            &.ssba_twitter_share:after {
                content: '\f099';
            }
            &.ssba_pinterest_share:after {
                content: '\f0d2';
            }
            &.ssba_google_share:after {
                content: '\f0d5';
            }

            // more icons
//            &.ssba_buffer_share:after {
//                content: '\f09a';
//            }
            &.ssba_diggit_share:after {
                content: '\f1a6';
            }
            &.ssba_email_share:after {
                content: '\f003';
            }
//            &.ssba_flattr_share:after {
//                content: '\f0e1';
//            }
            &.ssba_linkedin_share:after {
                content: '\f0e1';
            }
            &.ssba_print:after {
                content: '\f02f';
            }
            &.ssba_reddit_share:after {
                content: '\f1a1';
            }
            &.ssba_stumbleupon_share:after {
                content: '\f1a4';
            }
            &.ssba_vk_share:after {
                content: '\f189';
            }
            &.ssba_tumblr_share:after {
                content: '\f173';
            }
//            &.ssba_yummly_share:after {
//                content: '\f0d5';
//            }
            // END more icons

            &.ssba_facebook_share {
                color: @fb-brand;
            }
            &.ssba_twitter_share {
                color: @twitter-brand;
            }
            &.ssba_pinterest_share {
                color: @pinterest-brand;
            }
            &.ssba_google_share {
                color: @googleplus-brand;
            }

            // more icons color
//            &.ssba_buffer_share {
//               color: ;
//            }
            &.ssba_diggit_share {
                color: #2169A8;
            }
            &.ssba_email_share {
                color: #ccc;
            }
//            &.ssba_flattr_share {
//                content: '\f0e1';
//            }
            &.ssba_linkedin_share {
                color: #0274B3;
            }
            &.ssba_print {
                color: #ccc;
            }
            &.ssba_reddit_share {
                color: #FF4500;
            }
            &.ssba_stumbleupon_share {
                color: #EB4823;
            }
            &.ssba_vk_share {
                color: #4C75A3;
            }
            &.ssba_tumblr_share {
                color: #34465D;
            }
//            &.ssba_yummly_share:after {
//                content: '\f0d5';
//            }
            // END more icons color
        }
    &.nh {
        margin-top: 10px;
        margin-bottom: -8px;

        a {opacity: 1;}
        .ssba_facebook_share {
            color: @fb-brand;
            opacity: 1;
        }
        .ssba_twitter_share {
            color: @twitter-brand;
            opacity: 1;
        }
        .ssba_pinterest_share {
            color: @pinterest-brand;
            opacity: 1;
        }
    }
//        .facebook-head, .ssba_facebook_share {
//            width: 72px;
//            height: 27px;
//            background: url('../img/facebook.png') no-repeat;
//            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//            filter: gray; /* IE6-9 */
//            -webkit-filter: grayscale(100%);
//            img {display: none !important;}
//        }
//        .facebook-like-head {
//            width: 28px;
//            height: 28px;
//            background: url('../img/like.png') no-repeat;
//            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//            filter: gray; /* IE6-9 */
//            -webkit-filter: grayscale(100%);
//        }
//        .twitter-head, .ssba_twitter_share {
//            width: 43px;
//            height: 27px;
//            background: url('../img/twitter.png') no-repeat;
//            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//            filter: gray; /* IE6-9 */
//            -webkit-filter: grayscale(100%);
//            img {display: none !important;}
//        }
//        .ssba_pinterest_share {
//            width: 27px;
//            height: 27px;
//            background: url('../img/pinterest_pi.png') no-repeat;
//            background-size: 27px;
//            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//            filter: gray; /* IE6-9 */
//            -webkit-filter: grayscale(100%);
//            img {display: none !important;}
//            img {
//                width: auto !important;
//                height: 27px;
//            }
//        }
    }
.categories {
        .label-greydark {
            padding: 4px;
            font-weight: normal;
            margin: 5px 5px 5px 0;
            background: @gray-darker;
            white-space: normal;
            margin-bottom: 5px;
            line-height: 20px;
            &:hover {
                background: @brand-primary;
            }
            a {
                display: inline-block;
                color: #fff;
//                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
                padding: 4px 11px;
                text-decoration: none;
                .label-greydark:hover & {
//                    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
                }
            }
        }
    }
@media screen and (max-width:767px){
    .movie-info{
        position: static;
        h3, h5, h6{
            color: @gray-dark;
            small{
                color: @gray-dark;
            }
        }
        & + .overlay{
            display: none;
        }
        .col-xs-9, .col-xs-3 {
            width: 100%;
            float: none;
        }
        .col-xs-3 .info-ico div {
            float: left;
//            margin-right: 10px;
            color: @gray-darker;
            *, .views {color: @gray-darker;}
            &.watchlist-add, &.like-action {
                border-left: 1px solid @gray;
                padding-left: 5px;
                margin-left: 5px;
                padding-left: 10px;
                margin-left: 12px;
                margin-right: 0;
                margin-top: 0;
            }
        }
    }
}

//yarpp overwrites
.yarpp-thumbnails-horizontal.slider2 .yarpp-thumbnail.slide-cont, .yarpp-thumbnail.slide-cont > img, .yarpp-thumbnail.slide-cont .yarpp-thumbnail-default {width: auto; height: auto;}

//img-content


//in focus
.infocus {
    .pull-right span i {margin-right: 4px; margin-left: 10px;}
    .col-md-5 {
        max-height: 150px;
        overflow: hidden;
        img {width: 100%;}
    }
}


/* Comments Section */
.comments-section {
    margin-top: 12px;
    list-style-type: none;
}
.info-wrapper {
    display: inline-block;
    float: left;
    width: 80%;
    &.small-width {
        width: 70%;
    }
}
.info {
    display: block;
}
.user-profile-pic-wrapper {
    display: inline-block;
    float: left;
    margin-right: 16px;
    .user-profile-pic-normal {
        border-radius: 100px 100px 100px 100px;
        height: 80px;
        overflow: hidden;
        width: 80px;
    }
}
#fbcomments {text-align: center; max-width: 880px; margin: 0 auto;}
#fb-comments iframe[style], #fb-comments span {
   width: 100% !important;
}

.video-js-responsive-container {
    width: 100%;
    position: relative;
    .video-js {
        height: 100% !important;
        width: 100% !important;
        position: absolute;
        top: 0 !important;
        left: 0;
    }
    &.vjs-hd {
        padding-top: 56.2%;
    }
    .vjs-big-play-button{
        opacity: 0;
    }
}

.focus-img {
    height: 170px;
    width: 100%;
    max-width: 100%;
}
.slider_gen .slick-slide .focus-img {
    height: 258px;
}
.slick-slide div .pull-right span {
    margin-left: 10px;
}
.slick-slide div .pull-left small {
    font-style: italic;
}

.vid-previous,
.vid-next
{
    position: absolute;
    top: 38%; //was 40

    display: block;

    width: 50px;
    height: 100px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;

    z-index: 4;
}
.vid-previous:hover,
.vid-previous:focus,
.vid-next:hover,
.vid-next:focus
{
    color: transparent;
    outline: none;
    opacity: 1;
}

.vid-previous
{
    left: 25px;
}

.vid-next
{
    right: 25px;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
	-ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width:767px){
    .vid-previous,
    .vid-next
    {
        top: 55%;
        width: 40px;
        height: 60px;
    }
}
@media (max-width:480px){
     .vid-previous,
    .vid-next
    {
        top: 34%; //was 15%
    }
}

// #home-video, #home-video img {
//   min-width: 100%;
//   position: relative;
//   display: block;
//   overflow: hidden;
//   cursor: pointer;
// }

// #home-video {
//   span.play-button {
//     background-position: 0 0;
//     width: 150px;
//     height: 150px;
//     top: 20%;
//     left: 35%;
//     position: absolute;
//     display: block;

//     @media screen and (min-width: 992px) {
//       top: 25%;
//       left: 47%;
//     }

//     @media screen and (min-width: 1700px) {
//       top: 35%;
//     }
//   }

//   &:hover span.play-button {
//     background-position: 0 150px;
//     width: 150px;
//     height: 150px;
//   }

//   span.close-button {
//     background-position: 0 0;
//     width: 100px;
//     height: 100px;
//     top: 8%;
//     right: 2%;
//     position: absolute;
//     display: block;
//     z-index: 100;

//     &:hover {
//       background-position: 0 100px;
//       width: 100px;
//       height: 100px;
//     }
//   }

//   iframe#video-player {
//     min-height: 600px;
//     top: 0;
//     left: 0;
//     position: absolute;
//   }
// }


//more and less for single movie page
.readmore_dn, .readmore_up {
    font-size: 48px;
    text-align: center;
    display: block;
    height: 85px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
}
.readmore_dn {
    background-image: url(../img/downarrow.png);
    position: relative;
    top: -8px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0 -20px 30px 15px #fff;
}
.readmore_up {
    background-image: url(../img/uparrow.png);
}


//video iFrame
.vid_if {
    width: 100%;
    // height: 768px;
    height: auto;
}
.show-featured-image {
    overflow: hidden;
    width: 100%;
    @media screen and (max-width: 767px) {
        height: auto !important;
    }

    img {
        position: relative;
        width: 100%;
        height: auto;
        // position: absolute;
        top: 0;
        left: 0;
//        min-width: 100%;
//        min-height: 100%;
        max-width: none;
//        width: auto; //was auto
//        height: 100%; //was auto
        // left: 50%;
        // -webkit-transform: translateX(-50%);
        // -moz-transform: translateX(-50%);
        // -o-transform: translateX(-50%);
        // -ms-transform: translateX(-50%);
        // transform: translateX(-50%);
    }
}
.home .show-featured-image {
    // min-height: 400px;
}
.home .show-featured-image img {
    // min-width: 100%;
    // min-height: 100%;
    // width: auto; //was auto
    // height: 100%; //was auto
    // position: absolute;
    // left: 50%;
    // -webkit-transform: translateX(-50%);
    // -moz-transform: translateX(-50%);
    // -o-transform: translateX(-50%);
    // -ms-transform: translateX(-50%);
    // transform: translateX(-50%);
}
.ontop {
    z-index: 10;
    background: rgba(0,0,0,0.8);
}

.adjust_i .pull-left {
    margin-right: 20px;
    i {
        margin-right: 5px;
    }
}


//styling WP content
.img-content, .post_content {
    font-size: 15px;
    color: #787878;
    ol {margin-top: 10px; margin-bottom: 10px;}
    img {
        margin: 5px;
        padding: 5px;
        border: 1px solid #F5F5F5;
    }
    img.alignright {
        float: right;
    }
    img.alignleft {
        float: left;
    }
    @media screen and (max-width: 680px) {
        img, img.alignleft, img.alignright {
            float: none;
            clear: both;
            display: block;
            width: 100%;
            height: auto;
        }
    }
    p {
        // margin-bottom: 10px;
    }
    a {
        color: @brand-primary;
    }
}