.playlist {
	.playlist_img {
		width: 100%;
	}
	.auth_btm {
		position: absolute;
		bottom: 47px;
		p {
			margin-bottom: 0;
			font-size: 16px;
			span {
				color: @brand-primary;
			}
		}
	}
	.disp_btm {
		position: absolute;
		bottom: 47px;
		right: 0;
	}
	.recent-movies h4 {text-transform: uppercase;}
	@media screen and (max-width: 1199px) {
		.disp_btm, .auth_btm {
			position: relative;
			right: auto;
			bottom: auto;
			margin-top: 15px;
		}
	}
	@media screen and (max-width: 991px) {
		.playlist_img {
			margin-bottom: 15px;
		}
	}
	@media screen and (max-width: 680px) {
		.pushin {
			padding: 0;
		}
	}
	@media screen and (max-width: 680px) {
		.col-xs-4, .col-xs-8 {
            float: none;
            width: 100%;
        }
        .meta-ico, .lico_c {
            margin-top: 10px;
            text-align: left !important;
            .meta-ico-in, .lico {
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
                border-right: 1px solid #ccc;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
        .list-info-btns .ssba div {
            text-align: left !important;
            a {
                margin-left: 0;
                margin-right: 10px;
            }
        }
        .lico_c {
            .lico {font-size: 14px;}
            .lico i {font-size: 16px;}
        }
	}
}


.playlist_list {
	.playlist-grid {
		.p-grid-c {
			position: relative;
			width: 100%;
			height: 300px;
			margin-bottom: 30px;
			overflow: hidden;
			top: 0;
			transition: all 0.5s;
			a.p-g-all-link {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&:hover {
				top: -5px;
				.p-text {
					visibility: visible;
					opacity: 1;
					top: 0;
				}
				.p-img-c img {
					opacity: 0.4;
				}
				.p-desc, .p-btm {
					visibility: visible;
					opacity: 1;
				}
				.p-btm {
					bottom: 0;
				}
			}
		}
		.p-img-c {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			img {
				position: absolute;
				opacity: 1;
				width: 100%;
				height: auto;
				transition: all 0.5s;
				&.bgheight {
						  height: 100%;
						  width: auto !important;
						  left: 50%;
						  top: 0;
						  -webkit-transform: translateX(-50%);
						  -moz-transform: translateX(-50%);
						  -ms-transform: translateX(-50%);
						  -o-transform: translateX(-50%);
						  transform: translateX(-50%);
					}
					&.bgwidth {
						  width: 100%;
						  height: auto !important;
						  top: 50%;
						  left: 0;
						  -webkit-transform: translateY(-50%);
						  -moz-transform: translateY(-50%);
						  -ms-transform: translateY(-50%);
						  -o-transform: translateY(-50%);
						  transform: translateY(-50%);
					}
			}
		}
		.p-text {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 15px;

			background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 35%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 35%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

			transition: all 0.5s;
		}
		.p-head {
			// font-size: 24px;
			margin: 0;
			font-weight: normal;
			text-align: right;
			text-transform: uppercase;
			text-decoration: underline;
			color: #fff;
		}
		.p-desc {
			visibility: hidden;
			opacity: 0;
			font-size: 16px;
			font-style: italic;
			text-align: right;
			color: #fff;
			margin-top: 10px;
			transition: all 0.5s;
		}
		.p-btm {
			visibility: hidden;
			opacity: 0;
			font-size: 16px;
			position: absolute;
			bottom: -20px;
			left: 0;
			right: 0;
			padding: 15px;
			color: #fff;
			transition: all 0.5s;
			.iconexp_sp {
				font-size: 16px;
			}
			.p-count {
				position: absolute;
				bottom: 0;
				right: 15px;
			}
		}
	}
	.load_more {
		margin-top: 35px;
		margin-bottom: 35px;
	}
}