
.footer{
	background: darken(@gray-darker, 15%);
	color: @white;
	padding-bottom: 0;

	.footer-container{
		max-width: 1140px;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	.fa{
		color: @gray-dark;
	}
	a{
		color: @gray-lighter;
	}

	.social-links{
		.link{
			position: static;
			.icon{
				margin: 0 2px;
				padding: 0 4px;
			}
			.fa{
				color: @white;
			}
		}
	}

	.subscribe::-webkit-input-placeholder{
		line-height:1;
		font-size: 8.5px;
		white-space: normal;
		color: @gray;
	}
}

.footer-bar{
	background-color: @brand-primary;
	padding-top: 10px;
	padding-bottom: 10px;
}