.header{
	position: fixed;
	width: 100%;
	padding: 15px;
	// height: 100px;
	z-index: 3;
	background-color: fade(@gray-base, 60%);
	-webkit-transform: translate3d(0,0,0);
	.ease;

	.social-links{
		float: left;
		// margin-top: 10px;
		// .icon{
		// 	padding: 0 2px;
		// }
	}

	&.smaller{
		background-color: darken(@gray-darker, 15%);
		.logo{
			width: 175px;
		}
		.links{
			padding: 15px;
		}
		.social-links{
			margin-top: 0;
		}
		&+.sub-header{
			// margin-top: 92px;
			// background: darken(@gray-darker, 15%);
			// z-index: 3;
		}
	}
}

.logo{
	width: 230px;
	float: left;
	.ease;
}

.header-links{
	float: right;
}

.links{
	padding: 22px 15px;
	float: left;
	.ease;
	a{
		color: @gray-light;
	}
}

.social-links{
	.ease;
	.link{
		position: relative;
	}
	.action, .icon{
		float: left;
	}
	.icon{
		padding: 4px;
		background-color: @fb-brand;
		color: @white;
	}
	.action{
		background-color: lighten(@fb-brand, 20%);
		width: 60px;
		text-align: center;
		position: relative;
		a{
			color: @white;
		}
	}
	.twitter{
		top: -4px;
		.icon{
			background-color: @twitter-brand;
		}		
		.action{
			bottom: -8px;
			background-color: lighten(@twitter-brand, 20%)
		}
	}
	.youtube{
		.icon{
			background-color: @youtube-brand;
		}
	}
}

.sub-header{
	// position: fixed;
	// background: url('../img/noisy-texture.png');
	// background-color: fade(@gray-base, 60%); 
	width: 100%;
	// height: 150px;
	text-align: center;
	z-index: 1;
	// margin-top: 100px;
	padding: 5px 0 0;
	.ease;
	span{
		margin: 0 30px
	}

	.menu{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			display: inline-block;
			a{
				padding: 0 20px;
				color: @gray-light;
			}
			&:after{
				content: '|';
			}
			&:last-child:after{
				content: '';
			}
		}
	}
}

@media (max-width:480px){
	.header{
		position: static;
		.logo{
			width: 100%;
			img{
				margin: auto;
				display: block;
			}
		}

		.header-links{
			width: 100%;
		}

		.social-links{
			float: right;
		}
	}
}