.header{
	position: fixed;
	width: 100%;
	padding: 15px;
    padding-bottom: 1px;
	// height: 100px;
	z-index: 3;
	background-color: fade(@gray-base, 60%);
	-webkit-transform: translate3d(0,0,0);
	.ease;

	.social-links{
		float: left;
		// margin-top: 10px;
		// .icon{
		// 	padding: 0 2px;
		// }
	}

	&.smaller{
		background-color: darken(@gray-darker, 15%);
		.logo{
			width: 175px;
		}
		.links{
			padding: 15px;
		}
		.social-links{
			margin-top: 0;
		}
		&+.sub-header{
			// margin-top: 92px;
			// background: darken(@gray-darker, 15%);
			// z-index: 3;
		}
	}

	&.playing{
		top: -300px;
	}
}

.logo{
	width: 230px;
	float: left;
	.ease;
}

.header-links{
	float: right;
    @media screen and (max-width: 767px) {
        width: 100%;
        float: none;
        height: 85px;
        .social-links {float: right;}
    }
}
.navbar-default {
    background: transparent;
    border: 0;
    margin-bottom: 0;
    margin-top: 10px;
    min-height: 0;
    @media screen and (max-width: 767px) {
        margin-top: -70px;
        float: right;
        width: 100%;
    }
    .navbar-toggle {
        border: 0;
        margin-right: 0;
        padding: 20px 0;
        &:hover, &:focus {
            background: transparent;
            .icon-bar {background: @brand-primary}
        }
        .icon-bar {
            background: #fff;
        }
    }
    .navbar-collapse {border: 0; width: 100%; margin-left: 0;}
}
@media screen and (max-width: 767px) {
    .navbar-default .menu ul {padding-top: 10px;}
    .navbar-collapse {background: rgba(0,0,0,0.8)}
    .sub-header .navbar-default .menu li {
        display: block;
//        text-align: right;
        a {
            display: block;
            color: @brand-primary;
            padding: 5px;
            &:hover {background: #eee;}
        }
        &:after {display: none;}
    }
}

.links{
	padding: 22px 15px;
	float: left;
	.ease;
	a{
		color: @gray-light;
	}
}

.social-links{
	.ease;
	.link{
		position: relative;
	}
	.action, .icon{
		float: left;
	}
	.icon{
		padding: 4px;
		background-color: @fb-brand;
		color: @white;
	}
	.action{
		background-color: lighten(@fb-brand, 20%);
		width: 60px;
		text-align: center;
		position: relative;
		a{
			color: @white;
		}
	}
	.twitter{
		top: -4px;
		.icon{
			background-color: @twitter-brand;
		}		
		.action{
			bottom: -8px;
			background-color: lighten(@twitter-brand, 20%)
		}
	}
	.youtube{
		.icon{
			background-color: @youtube-brand;
		}
	}
}

.sub-header{
	// position: fixed;
	// background: url('../img/noisy-texture.png');
	// background-color: fade(@gray-base, 60%); 
	width: 100%;
	// height: 150px;
	text-align: center;
	z-index: 1;
	// margin-top: 100px;
	padding: 5px 0 0;
	.ease;
	span{
		margin: 0 30px
	}

	.menu{
		margin: 0;
		padding: 0;
		list-style-type: none;
        ul {padding-left: 0;}
		li{
			display: inline-block;
			a{
				padding: 0 20px;
				color: @gray-light;
			}
			&:after{
				content: '|';
			}
			&:last-child:after{
				content: '';
			}
		}
        a:hover {
            text-decoration: none;
            color: #fff;
        }
	}
}

@media (max-width:480px){
	.header{
		position: relative;
		.logo{
			width: 100%;
			img{
//				margin: auto;
				display: block;
                height: 65px;
			}
		}

		.header-links{
			width: 100%;
		}

		.social-links{
			float: right;
		}
	}
    .navbar-collapse {background: rgba(0,0,0,0)}
}