body{
	background: url('../img/noisy-texture.png');
}
.content-wrapper{
    background: url('../img/noisy-texture.png');
}

.wrapper{
	min-height: 100%;
	margin-bottom: -160px; 
}

.footer-push{
	height: 160px
}

hr{
	border-top: 2px solid @gray-dark;
}

.row{
	margin-top: 0;
}

.header-space{
	padding-top: 180px;
}

a{
	color: @gray-dark;
}

.width-full{
	width: 100%;
}