a {
  outline: none;
}
.primary {
  background: #af152f;
}
.primaryText {
  color: #af152f;
}
.white {
  background: #ffffff;
}
.whiteText {
  color: #ffffff;
}
.whiteText:hover {
  color: #ffffff;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.bar.bar-header .title {
  font-size: 1.2em !important;
  text-align: center !important;
  left: 0 !important;
  right: 0 !important;
}
.bar.bar-header .button.button-icon.ion-navicon {
  font-size: 25px;
}
.tabs-striped .tabs {
  background: #af152f;
  color: #ffffff;
  height: 42px;
}
.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.activated,
.tabs-striped .tab-item.active {
  border-color: #ffffff;
}
.bar .button.button-icon.icon:before {
  font-size: 1.3em;
}
.menu p.shortInfo {
  font-size: 2.3vh;
  color: #5e5e5e;
  margin-bottom: 0;
}
.menu button {
  margin-top: 30px !important;
  border: none !important;
}
.menu .list {
  border-bottom: 1px solid #aeaeae;
}
.menu .item {
  padding: 8px 20px;
  border: none;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
}
.menu .item.item-avatar {
  padding: 18px 18px 18px 72px;
  border-bottom: 2px solid #aeaeae;
}
.menu .item p {
  font-family: 'Lato', sans-serif;
}
.menu .item b {
  float: left;
  margin-top: 4px;
}
.menu .item i {
  margin-right: 10px;
}
.menu .item .badge {
  padding: 3px 6px;
  font-size: 1em;
  top: 8px;
  right: 22px;
  background: #af152f;
  font-family: 'Montserrat', sans-serif;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.menu .readMore a {
  float: left;
  width: 100%;
  color: #2e2e2e;
  text-decoration: none;
}
.menuLogo {
  width: 100%;
  float: left;
  margin: auto;
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding-left: 5px;
}
.menuLogo img {
  width: 170px;
  padding: 10px 10px 2px 10px;
}
.welcome {
  padding: 0;
  height: 101%;
}
.welcome .scroll {
  height: 100%;
}
.welcome .videoContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.welcome video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcome button {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  right: 0;
  background: none;
  border: none;
  font-size: 1em;
  color: #fff;
  padding: 2px 10px 0px 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px 0 0 4px;
}
.welcome button i {
  float: right;
  margin: 2px 0 0 5px;
}
.splashScreen img {
  height: 100%;
  width: 100%;
}
.mainContainer {
  top: 0;
}
.mainContainer .scroll {
  height: 100%;
}
.item p {
  white-space: normal;
}
.tab-content .scroll {
  /*padding-top:88px;*/
  height: 100%;
}
.item-divider {
  min-height: 73px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #ffffff;
  border: none;
  padding-left: 65px;
}
.item-divider p {
  font-size: 2.6vh;
}
.item-divider .cardTitle {
  font-size: 3.5vh;
  padding-top: 3px;
}
.item-thumbnail-left.item-divider {
  padding: 5px 10px 5px 5px;
  height: 118px;
}
.popular.has-tabs-top {
  top: 86px;
}
.popular .card .item.item-image {
  padding: 0;
  height: 100%;
  position: relative
  /*border: none;*/
}
.popular .card .item.item-avtar {
  border: none;
}
.popular .cardTitle {
  font-family: 'Lato';
  font-size: 3.5vh;
  margin-bottom: 3px;
}
.popular .movieDetails .country {
  padding: 0;
}
.popular .newAdditions,
.popular .noteWorthy {
  margin-bottom: 10px;
}
.playlist.card {
  box-shadow: none;
  border-bottom: none;
}
.playlist .playlistContent .imageContainer {
  height: 170px;
  width: 50%;
  position: relative;
  float: left;
  text-align: center;
}
.playlist .playlistContent .imageContainer img {
  /*width: 100%;*/
  height: 100%;
  width: auto !important;
  position: relative;
  left: 100%;
  margin-left: -200%;
}
.playlist .playlistContent .playlistContentInner {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.playlist .playlistContent.generContent .imageContainer img {
  width: 100% !important;
}
.playlist .playlistDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 5px 0px 5px;
  text-align: left;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.81) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.81) 100%);
}
.playlist .playlistDetails .title {
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 5px;
}
.playlist .playlistDetails .totalFilms {
  font-size: 2.5vh;
  font-weight: 400;
  padding-bottom: 10px;
}
.playlist .playlistDetails .totalFilms .filmNo {
  font-size: 3.5vh;
}
.playlist .playlistDetails .totalFilms i {
  margin-right: 4px;
}
.playlist .playlistDetails .totalFilms.playlistTotalFilms {
  position: absolute;
}
.playlist .playlistDetails.playlistDetailsInner {
  height: 100%;
}
.playlist .playlistDetails.playlistDetailsInner .totalFilms {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-right: 10px;
}
.playlist .viewPlaylist {
  background: #eee;
  height: 100%;
}
.playlist .viewPlaylist .text {
  padding: 19% 10%;
  color: #2e2e2e;
  font-size: 0.9em;
}
.playlist .viewPlaylist .button {
  padding: 0px 10px;
  font-size: 0.7em;
}
.playlist.genreOuter .playlistDetails .title {
  font-size: 2.8vh;
}
.playlist.genreOuter .playlistDetails .totalFilms {
  font-size: 2.3vh;
  padding-bottom: 10px;
}
.endOfPlaylist {
  float: left;
  width: 100%;
  margin: 30px 0;
  color: #d4d4d4;
}
.endOfPlaylist i {
  font-size: 7em;
  display: block;
}
.endOfPlaylist h4 {
  color: #d4d4d4;
  float: left;
  margin-top: 20px;
  width: 100%;
}
.endOfPlaylist p {
  float: left;
  width: 100%;
}
.cardOuter {
  height: 100%;
  margin-bottom: 0 !important;
}
.cardOuter .movieDetails {
  bottom: 60px;
}
.cardDetails {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
  /*.cardOuter
	{
		.movieDetails
		{
			bottom:0;
		}
	}*/
}
.marginB {
  margin-bottom: 10px !important;
}
.imageContainerOuter {
  height: 100%;
  text-align: center;
  overflow: hidden;
  background: #000000;
}
.imageContainerOuter img {
  height: 100%;
  width: auto !important;
  position: relative;
  left: 100%;
  margin-left: -200%;
}
.loading-container .loading {
  background: none;
}
.loaderOuter {
  height: 100%;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 40px;
  width: 40px;
  border: 5px solid #777;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
.loading-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.box {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 45px
  /*opacity: 0;*/
  /*transition:width 1s ease;*/
  /*&.showSearch
	{
		width: 100% !important;	
		transition:width 1s ease;	
		opacity: 1;

	}*/
}
.box input {
  width: 100%;
  padding-left: 30px;
  position: relative;
  height: 100%;
  color: #2e2e2e;
}
.box i {
  position: absolute;
  z-index: 99;
  top: 2px;
  color: #2e2e2e;
  height: 100%;
  padding-top: 11px;
  width: 30px;
  padding-left: 10px;
}
.box i.leftArrow {
  left: 0;
}
.box i.searchIcon {
  right: 10px;
}
.box.hideSearch i {
  display: none;
}
.box.showSearch i {
  display: block;
}
.searchResult .cardDetails {
  margin-top: 44px;
}
.searchResult .cardOuter .movieDetails {
  bottom: 0;
}
.backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.playlistHeaderOuter {
  float: left;
}
.bar {
  background-size: 100% 0px;
}
.singleMovieContent .scroll {
  height: 100%;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.movieVideo {
  /*background: url('../img/image1.jpg');
	height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
  height: 100%;
}
.movieVideo img {
  height: 100%;
}
.movieHeader {
  background: transparent;
  border: none;
}
.movieHeader button.watchList {
  position: absolute !important;
  right: 40px;
}
.movieHeader button.watchList .ion-heart.selected {
  color: #af152f;
}
.movieHeader button i {
  margin-right: 5px;
  font-size: 1.5em;
  float: left;
}
.movieHeader button i.ion-heart {
  font-size: 1.8em;
}
.movieHeader button:first-child i {
  margin-right: 13px;
}
.movieDetails {
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.9) 100%);
}
.movieDetails .title {
  font-size: 3.5vh;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 3px;
  /*font-weight: bold;*/
  white-space: normal;
}
.movieDetails .title span {
  font-size: 0.9em;
  /*font-style: italic;*/
  color: #d4d4d4;
}
.movieDetails .tagline {
  font-size: 2.6vh;
  font-style: italic;
  line-height: 1.5;
  color: #d4d4d4;
  white-space: normal;
  padding-top: 3px;
}
.movieDetails .country {
  font-size: 2.2vh;
  padding: 10px 0px 3px 0px;
  color: #d4d4d4;
}
.movieDetails .country i {
  margin-right: 4px;
  float: left;
}
.movieDetails .category {
  padding-top: 5px;
  float: left;
  width: 100%;
}
.movieDetails .category label {
  float: left;
  margin-bottom: 5px;
}
.movieDetails .category span {
  background: rgba(255, 255, 255, 0.2);
  padding: 1px 10px 1px;
  margin-right: 5px;
  color: #d4d4d4;
  font-size: 2.3vh;
  margin-bottom: 3px;
  float: left;
}
.movieDetails .viewsNLikes {
  font-size: 2.3vh;
  color: #d4d4d4;
}
.movieDetails .viewsNLikes span {
  margin-right: 25px;
}
.movieDetails .viewsNLikes span i {
  margin-right: 3px;
}
.movieText h5 {
  margin-top: 30px;
}
.socialIcons {
  margin-bottom: 20px;
}
.socialIcons span {
  margin: 5px 15px;
}
.socialIcons i {
  font-size: 2em;
}
.singleMovieOuter {
  height: 100%;
  background: #000000;
  position: relative;
}
.playIcon {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.playIcon img {
  width: 100%;
  height: auto;
}
.videoOuter .scroll {
  height: 100%;
  position: relative;
  z-index: 2;
}
.movieScreen .singleMovieContent {
  top: 0;
}
.synopsis {
  font-size: 1.2em;
  color: #5e5e5e;
}
.synopsis img {
  display: block;
  margin: 0 auto;
}
.synopsis a {
  border: none;
  color: #2e2e2e;
  text-decoration: none;
}
.synopsis .synopsisText {
  display: -webkit-box;
  max-width: 100%;
  max-height: 110px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infocus h5 {
  margin-bottom: 5px;
}
.infocus p.subheading {
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.3;
}
.infocus img {
  width: 100%;
}
.icon-cust {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 25px;
  width: 25px;
  float: left
  /*&.icon-filter, .icon-filter_red
	{
		background-image: url('../img/icons/filter_grey.png');
		vertical-align: middle;
		float: none;
		margin: -3px 5px 0 0 !important;
	}
	.icon-filter_red
	{
		background-image: url('../img/icons/filter_red.png');
	}
	&.icon-sort
	{
		background-image: url('../img/icons/sort_notapplied.png');
		vertical-align: middle;
		float: none;
		margin: -3px 5px 0 0 !important;
	}*/
}
.icon-cust.icon-home {
  background-image: url('../img/icons/home.png');
}
.icon-cust.icon-star {
  background-image: url('../img/icons/popular.png');
}
.icon-cust.icon-watchlist {
  background-image: url('../img/icons/watchlist.png');
}
.icon-cust.icon-playlist {
  background-image: url('../img/icons/playlist.png');
}
.icon-cust.icon-genre {
  background-image: url('../img/icons/genre.png');
}
.icon-cust.icon-bell {
  background-image: url('../img/icons/notification.png');
}
.icon-cust.icon-question {
  background-image: url('../img/icons/faq.png');
}
.icon-cust.icon-logout {
  background-image: url('../img/icons/logout.png');
}
.icon-cust.icon-endPlaylist {
  background-image: url('../img/icons/thatsall.png');
  height: 72px;
  width: 72px;
  display: block;
  margin: 0 auto;
  float: none;
}
.icon-cust.icon-favorite {
  background-image: url('../img/icons/favorite.png');
}
.icon-cust.icon-unfavorite {
  background-image: url('../img/icons/unfavorite.png');
}
.swiper-container,
.swiper-wrapper,
.player1video {
  height: 100%;
}
.genre .playlist .playlistDetails {
  padding: 30% 5px 0px 5px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.81) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.81) 100%);
}
.genre .playlist .playlistDetails .title {
  margin-bottom: 0;
}
.genre .playlist .playlistContent > div img {
  opacity: 0.6;
}
.genre .overlay {
  background: rgba(0, 0, 0, 0.5);
}
.singleGenre {
  /*.imageContainerOuter
	{
		padding-top: 45px;
	}*/
}
.singleGenre .popular .cardOuter .movieDetails {
  bottom: 0;
}
.singleGenre .item-divider {
  color: #2e2e2e !important;
  margin: 0;
  text-align: left !important;
  min-height: 30px !important;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left {
  padding-bottom: 3px;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .playlist-thumbnail {
  height: 105px;
  width: 100px;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-top: 2px;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .playlist-thumbnail img {
  height: 100%;
  width: auto !important;
  position: relative;
  left: 100%;
  margin-left: -200%;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .cardTitle,
.singleGenre .singleGenreAvtar.item-thumbnail-left .movieDescription {
  /*margin-left: 10px;*/
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .cardTitle {
  font-size: 1.2em;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .movieDescription {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  max-height: 103px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  font-size: 14px;
}
.singleGenre .singleGenreAvtar.item-thumbnail-left .totalfilmsNTime {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 14px 0 116px;
  bottom: 2px;
}
.singleGenre .scroll {
  height: 100%;
}
.singleGenre .filterPopup {
  color: #2e2e2e;
  text-align: left;
}
.singleGenre .filterPopup h4.filterHeader {
  color: #2e2e2e !important;
  padding-left: 15px !important;
  font-size: 15px;
}
.singleGenre .filterHeader {
  padding-left: 15px !important;
  font-size: 15px;
  border-bottom: 1px solid #d4d4d4;
}
.singleGenre .bar .button i {
  margin-right: 10px;
}
.singleGenre .bar .button i.ion-android-share-alt {
  font-size: 20px;
}
.singleGenre .totalfilmsNTime {
  font-size: 2.3vh;
  color: #666;
}
.singleGenre .item i {
  margin-right: 3px;
  line-height: 1.6;
}
.singleGenre .bar-footer {
  padding: 0;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);
}
.singleGenre .bar-footer .button {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #2e2e2e;
  font-weight: 700;
  font-size: 1em;
}
.singleGenre .bar-footer .button:first-child {
  border-right: 1px solid #d4d4d4;
}
.singleGenre .bar-footer .button:last-child {
  top: 2px;
  right: 0;
}
.singleGenre .bar-footer.genreFooter img {
  display: inline-block;
  margin-top: 3px;
  vertical-align: inherit;
  height: 25px;
  margin-right: 5px;
}
.singleGenre .watchList {
  position: absolute;
  right: 35px;
}
.singleGenre .watchlistIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  z-index: 99;
}
.singleGenre .watchlistIcon i {
  color: #ffffff;
  font-size: 30px;
}
.singleGenre .watchlistIcon i.selected {
  color: #af152f;
}
.singleGenre #emptyWatchList {
  border-top: 1px solid #d4d4d4;
}
.singleGenre .emptyWatchlistInner {
  padding: 20px;
  position: absolute;
  height: 250px;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -125px;
}
.singleGenre .emptyWatchlistInner .iconOuter {
  position: relative;
  width: 100px;
  margin: auto;
}
.singleGenre .emptyWatchlistInner .iconOuter i {
  font-size: 90px;
  color: #d4d4d4;
  display: block;
  margin-top: 20px;
}
.singleGenre .emptyWatchlistInner .iconOuter span {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 30px;
  background: #999;
  width: 30px;
  height: 30px;
  line-height: 0.95;
  border-radius: 50%;
  color: #ffffff;
}
.singleGenre .emptyWatchlistInner p {
  margin: 20px 0;
  font-size: 2.8vh;
  color: #5e5e5e;
}
.singleGenre .emptyWatchlistInner button {
  padding: 0 20px;
}
/*.filteredGenre
{
	.card 
	{
		box-shadow: none;
		border-bottom: none;
	}
	.item
	{
		position: relative;		
		padding: 0;
		&.item.item-image
		{
			margin-bottom: 10px;
		}
	}
	.cardTitle
	{
		padding:10px 10px 0 120px;
		font-size: 1em;    	
	}
	.totalfilmsNTime
	{
		position: absolute;
	    width: 100%;
	    bottom: 3px;
	    padding:0 9px 0 120px;	   
	    font-size: 0.6em;    
	    span
	    {
	    	i
	    	{
	    		line-height: 2;
	    		margin-right: 1px;
	    	}
	    }
	}
	.movieDescription
	{
		padding-left:120px;
		font-size: 0.7em;
		line-height: 1.5;
		white-space: normal; 
	}

	&.genreImgOuter
	{
		.item-thumbnail-left 
		{
			min-height: 90px;
			img
			{
				max-width: 70px;
	    		max-height: 70px;
			}
		}
		.cardTitle , .totalfilmsNTime 
		{
			padding-left: 90px;
		}
	}
}*/
.filterNo {
  height: 16px;
  width: 16px;
  background: #5e5e5e;
  display: inline-block;
  border-radius: 50%;
  line-height: 1.4;
  margin-left: 10px;
  font-size: 0.8em;
}
.watchListIcon {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 1;
  top: 0;
  right: 0;
}
.popupFooter {
  box-shadow: none !important;
}
.popupFooter .button {
  background: #d4d4d4;
  top: 2px;
}
.popupFooter .button:last-child {
  background: #af152f;
  color: #ffffff;
}
.sortPopup .popup-head {
  /*background: @grayLightest;*/
  border-bottom: 3px solid #aaa;
}
.sortPopup .popup-head h4 {
  margin: 0;
  text-align: left;
  color: #2e2e2e;
  font-weight: 600;
  font-size: 20px;
}
.sortPopup .popup-body {
  color: #2e2e2e;
  padding: 0;
  background: #ffffff;
}
.sortPopup .popup-body .sortInner {
  float: left;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 2.6vh;
}
.sortPopup .popup-body .sortInner:focus,
.sortPopup .popup-body .sortInner:active,
.sortPopup .popup-body .sortInner:hover {
  background: rgba(241, 196, 204, 0.12);
  font-weight: 600;
  outline: none;
  position: relative;
  box-shadow: 1px 1px 5px #f1c4cc;
  z-index: 9999999;
}
.sortPopup .popup-body .sortInner:last-child {
  border-bottom: none
  /*margin-bottom: 10px;*/
}
.sortPopup .popup-body .sortInner img {
  float: left;
  margin-right: 10px;
  width: 30px;
}
.sortPopup .popup-body .sortInner span {
  float: left;
  margin-top: 5px;
}
.sortPopup .popupFooter {
  min-height: 38px;
}
.sortPopup .popupFooter button {
  margin: 0;
  top: 0px;
  border: none;
}
.singlePlaylistAvtar {
  margin-top: 43px;
}
.pane.faq .pane {
  background: transparent;
}
.customRadio .item-radio,
.customRadioDuration .item-radio {
  border-bottom: 1px solid #d4d4d4;
}
.customRadio .item-radio .item-content,
.customRadioDuration .item-radio .item-content {
  padding: 15px 5px 15px 25px;
}
.customRadio .item-radio .radio-icon,
.customRadioDuration .item-radio .radio-icon {
  right: 25px;
  padding: 0;
  visibility: visible;
  padding: 14px 10px;
}
.customRadio .item-radio .radio-icon.ion-checkmark:before,
.customRadioDuration .item-radio .radio-icon.ion-checkmark:before {
  content: "\f401";
  /*transform: scale(0.5);*/
  float: left;
  color: #aeaeae;
}
.customRadio .item-radio input:checked ~ .radio-icon.ion-checkmark:before,
.customRadioDuration .item-radio input:checked ~ .radio-icon.ion-checkmark:before {
  content: "\f3a7";
  color: #af152f
  /*transform: scale(0.8);*/
}
.errors {
  min-height: 300px;
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -110px;
  margin-left: -160px;
}
.errors img {
  height: 120px;
}
.errors .button {
  padding: 0 20px;
  border: none;
}
.errors h3 {
  color: #2e2e2e;
}
.errors h5 {
  color: #5e5e5e;
}
.displayDiv {
  width: 100%;
}
.submitForm .item-select {
  height: 35px;
}
.submitForm .item-select select {
  border: 1px solid #d4d4d4;
  height: 30px;
  top: 2px;
  direction: ltr;
  width: 100%;
  max-width: 100%;
  padding-left: 5px;
}
.submitForm .formDetails {
  margin-top: 20px;
}
.submitForm .formDetails label.item {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 5px;
  height: 34px;
  float: left;
  width: 100%;
  font-weight: 300;
  margin-bottom: 20px;
}
.submitForm .formDetails label.item textarea {
  padding-bottom: 5px;
}
.submitForm .formDetails p,
.submitForm .formDetails address {
  color: #5e5e5e;
  float: left;
  width: 100%;
}
.submitFormFooter {
  background: #d4d4d4;
}
.submitFormFooter .button {
  border: none;
  background: #d4d4d4;
  font-weight: 700;
}
.submitFormFooter .button.active,
.submitFormFooter .button.activated {
  background: #d4d4d4;
  color: #af152f;
}
.notifications .item {
  border-bottom: 1px solid #d4d4d4;
  float: left;
  width: 100%;
}
.notifications h5 span {
  color: #aeaeae;
}
.notifications h5 span.read {
  height: 6px;
  width: 6px;
  background: #5ab515;
  border-radius: 50%;
}
.notifications p {
  white-space: normal;
  color: #2e2e2e;
}
.noNotification {
  padding: 10%;
}
.noNotification h4 {
  color: #aeaeae;
  margin-bottom: 0;
}
.noNotification p {
  color: #aeaeae;
  font-size: 0.8em;
}
@media screen and (max-width: 767px) and (min-aspect-ratio: 13/9) {
  .menu p.shortInfo {
    font-size: 0.92em;
  }
  .item-divider p {
    font-size: 0.92em;
  }
  .popular .cardTitle,
  .item-divider .cardTitle {
    font-size: 1.3em;
  }
  .movieDetails .title {
    font-size: 1.2em;
    padding-bottom: 5px;
  }
  .movieDetails .tagline {
    font-size: 1em;
  }
  .movieDetails .country,
  .movieDetails .category span {
    font-size: 0.83em;
  }
  .movieDetails .viewsNLikes {
    font-size: 0.9em;
  }
  .playlist .playlistContent .imageContainer {
    width: 33.33%;
  }
  .playlist .playlistDetails .totalFilms {
    font-size: 1em;
  }
  .playlist .playlistDetails .totalFilms .filmNo {
    font-size: 1.5em;
  }
  .playlist.genreOuter .playlistDetails .title {
    font-size: 1.1em;
  }
  .playlist.genreOuter .playlistDetails .totalFilms {
    font-size: 0.9em;
  }
  .singleGenre .totalfilmsNTime {
    font-size: 0.75em;
  }
  .imageContainerOuter {
    height: 100%;
    width: 50%;
  }
  .imageContainerOuter img {
    height: auto !important;
    width: 100% !important;
  }
  .cardOuter {
    height: 100%;
    width: 100%;
  }
  .cardOuter .movieDetails {
    width: 50%;
    left: 50%;
    top: -6px;
    color: #af152f;
    background: none;
    text-shadow: none;
  }
  .cardOuter .movieDetails .title {
    font-size: 1.1em;
    padding-bottom: 5px;
  }
  .cardOuter .movieDetails .title span {
    color: #aeaeae;
  }
  .cardOuter .movieDetails .country,
  .cardOuter .movieDetails .viewsNLikes {
    color: #5e5e5e;
    font-size: 0.8em;
  }
  .cardOuter .movieDetails .category span {
    font-size: 0.8em;
  }
  .cardOuter .movieDetails .tagline {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 39px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-size: 0.92em;
    color: #5e5e5e;
  }
  .cardOuter .movieDetails .country {
    padding-top: 10px;
  }
  .cardOuter .imageContainerOuter img {
    height: 100% !important;
    width: auto !important;
  }
  .sortPopup .popup-body .sortInner {
    font-size: 1em;
  }
  .overlay {
    background: rgba(0, 0, 0, 0) !important;
  }
  .singleMovieOuter {
    height: auto;
  }
  .singleMovieOuter .movieVideo {
    height: auto;
  }
  .popular .card .item.item-image {
    height: 100%;
  }
  .cardDetails {
    height: auto;
  }
  .singleMovieContent .movieDetails,
  .singleMovieContent .imageContainerOuter {
    width: 100%;
  }
  .singleMovieContent .overlay {
    background: rgba(0, 0, 0, 0.6) !important;
  }
  .singlePlaylist {
    /*margin-top: 118px;*/
  }
  .singlePlaylist .cardOuter .movieDetails {
    top: 0;
  }
  .singleGenreAvtar {
    border-bottom: 1px solid #d4d4d4;
  }
  .synopsis {
    font-size: 0.9em;
  }
  .singleGenre .emptyWatchlistInner {
    position: relative;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .singleGenre .emptyWatchlistInner p {
    font-size: 1.1em;
  }
}
/*# sourceMappingURL=custom.css.map */